@import "../var.scss";
.top-btn-box {
  display: flex;
  align-items: center;

  .btn-item {
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;

    &.active {
      background-color: $color-p2;
    }
  }
}

.left {
  .block1 {
    .charts-box {
      width: 100%;
      display: flex;
      flex-direction: column;

      .charts-item {
        margin-bottom: 5px;

        .charts-top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
        }

        .charts-line-pie {
          height: 136px;
          margin-bottom: 20px;
        }

        .charts-line-bar {
          height: 150px;
        }
      }
    }

    .top-signs {
      margin-left: 20px;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: $color3;
        margin-right: 10px;
      }

      &.blue {
        &::before {
          background-color: $color1;
        }
      }
    }
  }
}

.right {
  .block-title {
    justify-content: space-between;
    &::before {
      display: none;
    }
    .title {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        display: block;
        width: 5px;
        height: 18px;
        background-color: #00f8ff;
        margin-right: 6px;
      }
    }
    .top-btn-box {
      display: flex;
      align-items: center;

      .btn-item {
        font-size: 14px;
        font-weight: 400;
        padding: 3px 5px;
        border-radius: 3px;
        cursor: pointer;

        &.active {
          background-color: $color-p2;
        }
      }
    }
  }

  .right-charts {
    width: 100%;
    height: 160px;
  }
}

.block {
  margin-top: 20px;
}

.block-content {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 10px;

  .block-content-item {
    width: 50%;
    margin-bottom: 10px;

    .item-title {
      color: $color6;
      margin-bottom: 5px;
    }
    .item-num {
      .num {
        color: $color2;
        font-size: 20px;
      }
      .unit {
        color: $color6;
      }
    }
  }
}
