@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.left .block1 .block1-content {
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}
.left .block1 .block1-content .content-left {
  width: 50px;
}
.left .block1 .block1-content .content-left .title {
  color: #c6c6c6;
  text-align: center;
  margin-bottom: 15px;
}
.left .block1 .block1-content .content-left .left-list {
  margin-right: 8px;
}
.left .block1 .block1-content .content-left .left-list .left-item {
  width: 100%;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #00f8ff;
  background-image: linear-gradient(#00265a, #0381d9);
  box-sizing: border-box;
  cursor: pointer;
}
.left .block1 .block1-content .content-left .left-list .left-item.active {
  background-image: linear-gradient(#fbb129, #b86510);
  border: none;
}
.left .block1 .block1-content .content-right {
  flex: 1;
  height: 280px;
  display: flex;
}
.left .block1 .block1-content .content-right .right-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left .block1 .block1-content .content-right .right-item .title {
  width: 30px;
  height: 20px;
  line-height: 20px;
  background-color: #134a70;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}
.left .block1 .block1-content .content-right .right-item .block-box {
  width: 24px;
  height: 243px;
  border: 1px solid #c6c6c6;
}
.left .block1 .block1-content .content-right .right-item .block-box .block-inner {
  height: 24px;
  color: #333;
  line-height: 24px;
  text-align: center;
  background-color: #00f8ff;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  box-sizing: border-box;
}
.left .block2 .charts-item {
  height: 260px;
}

.right .block1 .block-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.right .block1 .block-content .equipment-item {
  margin-bottom: 10px;
  width: 33%;
  position: relative;
  right: -20px;
}
.right .block1 .block-content .equipment-item .icon {
  margin-bottom: 5px;
}
.right .block1 .block-content .equipment-item .icon .iconfont {
  font-size: 34px;
  background-image: linear-gradient(to bottom, #3ad1ed, #2775e6);
  -webkit-background-clip: text;
  color: transparent;
}
.right .block1 .block-content .equipment-item .txt {
  font-size: 16px;
  color: #c6c6c6;
  margin-bottom: 3px;
}
.right .block1 .block-content .equipment-item .nums {
  margin-bottom: 3px;
}
.right .block1 .block-content .equipment-item .nums .num-1 {
  color: #00f8ff;
}
.right .block1 .block-content .equipment-item .desc {
  color: #c6c6c6;
  font-size: 12px;
  margin-left: -10px;
}
.right .block2 {
  margin-top: 30px;
}
.right .block2 .warning-list {
  margin-top: 20px;
  padding: 0 30px;
}
.right .block2 .warning-list .warning-item {
  display: flex;
  align-items: center;
  color: #c6c6c6;
  margin-bottom: 10px;
}
.right .block2 .warning-list .warning-item.level1 {
  color: #ff2a0e;
}
.right .block2 .warning-list .warning-item.level2 {
  color: #ff8c0e;
}
.right .block2 .warning-list .warning-item .iconfont {
  margin-right: 10px;
}
.right .block2 .warning-list .warning-item .desc {
  width: 180px;
  margin-right: 10px;
}
.right .block2 .warning-list .warning-item .date {
  color: #c6c6c6;
}

.block {
  margin-top: 20px;
}

.content .equ-box {
  position: absolute;
  z-index: 0;
}
.content .equ-box .icon-shebeiguanli {
  width: 50px;
  height: 50px;
  border: 1px solid #00f8ff;
  box-sizing: border-box;
  padding: 3px;
  color: #00f8ff;
  font-size: 30px;
  background-color: rgba(10, 41, 60, 0.7);
  cursor: pointer;
}
.content .equ-box .equ-info-box {
  position: absolute;
  width: 260px;
  border: 1px solid #00f8ff;
  background-color: rgba(10, 41, 60, 0.7);
  padding: 10px;
  box-sizing: border-box;
  display: none;
}
.content .equ-box .equ-info-box.active {
  display: block;
}
.content .equ-box .equ-info-box .equ-info-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.content .equ-box .equ-info-box .equ-info-title .title {
  font-size: 16px;
}
.content .equ-box .equ-info-box .equ-info-title .state.blue {
  color: #00c0ff;
}
.content .equ-box .equ-info-box .equ-info-item {
  margin-top: 5px;
}
.content .equ-box .equ-info-box .equ-info-item .item-info {
  color: #c6c6c6;
}

/*# sourceMappingURL=equipment.css.map */
