@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.top-block {
  width: 96%;
  height: 50px;
  background-image: linear-gradient(#0f4fa9, #052351);
  margin: 5px auto 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}
.top-block .left-title {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
}
.top-block .nums {
  display: flex;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
}
.top-block .nums .num-item {
  width: 30px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #00f8ff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  margin-right: 5px;
}
.top-block .nums .num-txt {
  margin-top: 18px;
}

.block {
  margin-top: 20px;
}

.block-content {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 10px;
}
.block-content .block-content-item {
  width: 50%;
  margin-bottom: 10px;
}
.block-content .block-content-item .item-title {
  color: #c6c6c6;
  margin-bottom: 5px;
}
.block-content .block-content-item .item-num .num {
  color: #00c0ff;
  font-size: 20px;
}
.block-content .block-content-item .item-num .unit {
  color: #c6c6c6;
}

.left .block3 .charts-box {
  margin-top: 5px;
  display: flex;
}
.left .block3 .charts-box .charts-item {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
}
.left .block3 .charts-box .charts-item .charts-pie {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.left .block3 .charts-box .charts-legend {
  margin-top: 6px;
}
.left .block3 .charts-box .charts-legend .legend {
  width: 70%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 30px;
}
.left .block3 .charts-box .charts-legend .legend .color {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.left .block3 .charts-box .charts-legend .legend div {
  margin-right: 5px;
}
.left .block3 .charts-box .charts-legend .legend div:nth-child(2) {
  color: #c6c6c6;
}
.left .block4 .charts-box {
  margin-top: 5px;
  padding: 0 20px;
}
.left .block4 .charts-box .charts-item {
  height: 105px;
  margin-bottom: 5px;
}

.right .block1 .charts-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.right .block1 .charts-box .charts-item {
  margin-bottom: 5px;
}
.right .block1 .charts-box .charts-item .charts-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.right .block1 .charts-box .charts-item .charts-top .top-btn-box {
  display: flex;
  align-items: center;
}
.right .block1 .charts-box .charts-item .charts-top .top-btn-box .btn-item {
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
}
.right .block1 .charts-box .charts-item .charts-top .top-btn-box .btn-item.active {
  background-color: #0381d9;
}
.right .block1 .charts-box .charts-item .charts-line-pie {
  height: 136px;
}
.right .block2 .block-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.right .block2 .block-content .equipment-item {
  margin-bottom: 10px;
  width: 33%;
  position: relative;
  right: -20px;
}
.right .block2 .block-content .equipment-item .icon {
  margin-bottom: 5px;
}
.right .block2 .block-content .equipment-item .icon .iconfont {
  font-size: 34px;
  background-image: linear-gradient(to bottom, #3ad1ed, #2775e6);
  -webkit-background-clip: text;
  color: transparent;
}
.right .block2 .block-content .equipment-item .txt {
  font-size: 16px;
  color: #c6c6c6;
  margin-bottom: 3px;
}
.right .block2 .block-content .equipment-item .nums {
  margin-bottom: 3px;
}
.right .block2 .block-content .equipment-item .nums .num-1 {
  color: #00f8ff;
}
.right .block2 .block-content .equipment-item .desc {
  color: #c6c6c6;
  font-size: 12px;
  margin-left: -10px;
}

.middle-content .environment-box {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.8), transparent);
  padding: 10px 30px;
}
.middle-content .environment-box .env-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.middle-content .environment-box .env-item .iconfont {
  font-size: 32px;
  color: #00c0ff;
}
.middle-content .environment-box .env-item .evn-info .env-num {
  color: #f4b140;
}
.middle-content .point-box {
  position: absolute;
  right: 10px;
  top: 80px;
}
.middle-content .point-box .point-item {
  padding-left: 20px;
  position: relative;
  margin-top: -10px;
}
.middle-content .point-box .point-item span {
  width: 30px;
  cursor: pointer;
  color: #c6c6c6;
  display: block;
}
.middle-content .point-box .point-item.active span {
  color: #00f8ff;
}
.middle-content .point-box .point-item.active::before {
  background-color: #00f8ff;
}
.middle-content .point-box .point-item:nth-last-child(1)::after {
  width: 0;
  height: 0;
}
.middle-content .point-box .point-item::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #c6c6c6;
  position: absolute;
  left: 5px;
  top: 5px;
}
.middle-content .point-box .point-item::after {
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  background-color: #c6c6c6;
  position: relative;
  top: -5px;
  left: -10px;
}
.middle-content .building-info {
  width: 320px;
  padding: 10px;
  border: 1px solid #00c0ff;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 260px;
  right: 600px;
}
.middle-content .building-info .info-block .title {
  font-weight: 700;
  margin-bottom: 10px;
}
.middle-content .building-info .info-block .list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.middle-content .building-info .info-block .list.big {
  font-size: 16px;
}
.middle-content .building-info .info-block .list.big .value {
  font-size: 20px;
  font-weight: 700;
}
.middle-content .building-info .info-block .list.no-flex {
  display: block;
}
.middle-content .building-info .info-block .list .item {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.middle-content .building-info .info-block .list .item .label {
  color: #c6c6c6;
  white-space: nowrap;
}
.middle-content .building-info .info-block .list .item .value {
  color: #00c0ff;
}

/*# sourceMappingURL=overview.css.map */
