.top-block {
  width: 96%;
  height: 50px;
  background-image: linear-gradient(#0f4fa9, #052351);
  margin: 5px auto 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}
.top-block .left-title {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
}
.top-block .nums {
  display: flex;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
}
.top-block .nums .num-item {
  width: 30px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #00f8ff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  margin-right: 5px;
}
.top-block .nums .num-txt {
  margin-top: 18px;
}

.block {
  margin-top: 20px;
}

.block-content {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 10px;
}
.block-content .block-content-item {
  width: 50%;
  margin-bottom: 10px;
}
.block-content .block-content-item .item-title {
  color: #c6c6c6;
  margin-bottom: 5px;
}
.block-content .block-content-item .item-num .num {
  color: #00c0ff;
  font-size: 20px;
}
.block-content .block-content-item .item-num .unit {
  color: #c6c6c6;
}

.left .block3 .charts-box {
  margin-top: 5px;
  display: flex;
}
.left .block3 .charts-box .charts-item {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
}
.left .block3 .charts-box .charts-item .charts-pie {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.left .block3 .charts-box .charts-legend {
  margin-top: 6px;
}
.left .block3 .charts-box .charts-legend .legend {
  width: 70%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 30px;
}
.left .block3 .charts-box .charts-legend .legend .color {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.left .block3 .charts-box .charts-legend .legend div {
  margin-right: 5px;
}
.left .block3 .charts-box .charts-legend .legend div:nth-child(2) {
  color: #c6c6c6;
}
.left .block4 .charts-box {
  margin-top: 5px;
  padding: 0 20px;
}
.left .block4 .charts-box .charts-item {
  height: 105px;
  margin-bottom: 5px;
}

.right .block1 .charts-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.right .block1 .charts-box .charts-item {
  margin-bottom: 5px;
}
.right .block1 .charts-box .charts-item .charts-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.right .block1 .charts-box .charts-item .charts-top .top-btn-box {
  display: flex;
  align-items: center;
}
.right .block1 .charts-box .charts-item .charts-top .top-btn-box .btn-item {
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
}
.right .block1 .charts-box .charts-item .charts-top .top-btn-box .btn-item.active {
  background-color: #0381d9;
}
.right .block1 .charts-box .charts-item .charts-line-pie {
  height: 136px;
  background-color: rgba(0, 0, 0, 0.6);
}
.right .block2 .block-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.right .block2 .block-content .equipment-item {
  margin-bottom: 10px;
  width: 33%;
  position: relative;
  right: -20px;
}
.right .block2 .block-content .equipment-item .icon {
  margin-bottom: 5px;
}
.right .block2 .block-content .equipment-item .icon .iconfont {
  font-size: 34px;
  background-image: linear-gradient(to bottom, #3ad1ed, #2775e6);
  -webkit-background-clip: text;
  color: transparent;
}
.right .block2 .block-content .equipment-item .txt {
  font-size: 16px;
  color: #c6c6c6;
  margin-bottom: 3px;
}
.right .block2 .block-content .equipment-item .nums {
  margin-bottom: 3px;
}
.right .block2 .block-content .equipment-item .nums .num-1 {
  color: #00f8ff;
  font-size: 20px;
}
.right .block2 .block-content .equipment-item .desc {
  color: #c6c6c6;
  font-size: 12px;
  margin-left: -10px;
}

/*# sourceMappingURL=overview.css.map */
