@import "../var.scss";

.left {
  .block1 {
    margin-top: 30px;

    .block1-content {
      padding: 0 20px;
      box-sizing: border-box;
      display: flex;
      align-items: center;

      .block1-left {
        width: 120px;
        height: 120px;
        position: relative;

        .circle-bg {
          width: 100%;
          height: 100%;
          background-image: url(../../images/pages/Pie1.png);
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          animation: rotate-animation 1s linear infinite;
        }

        .num-circle {
          width: 76px;
          height: 76px;
          background-color: $color-p2;
          border-radius: 76px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;

          .num {
            color: #fff;
            font-size: 20px;
            font-weight: 700;
          }
          .label {
            color: $color6;
          }
        }
      }

      .block1-right {
        flex: 1;

        .num-block {
          height: 80px;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .num-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 3px;

            .num {
              color: $color2;
              line-height: 18px;
              font-size: 18px;
            }

            .num.zero {
              color: $color6;
              font-size: 14px;
            }

            .label {
              color: $color6;
            }
          }
        }

        .line {
          height: 1px;
          background-image: linear-gradient(to right, transparent, $color2, transparent);
        }
      }
    }
  }

  .block2 {
    margin-top: 30px;

    .block-content {
      padding: 0 20px;

      .charts-line {
        height: 160px;
      }

      .info-box {
        margin-bottom: 5px;
        color: $color6;

        span {
          color: $color4;
        }
      }
    }
  }

  .block3 {
    margin-top: 30px;

    .warning-list {
      margin-top: 20px;
      padding: 0 30px;

      .warning-item {
        display: flex;
        align-items: center;
        color: $color6;
        margin-bottom: 10px;

        &.level1 {
          color: $color5;
        }

        &.level2 {
          color: $color4;
        }

        .iconfont {
          margin-right: 10px;
        }
        .desc {
          width: 180px;
          margin-right: 10px;
        }
        .date {
          color: $color6;
        }
      }
    }
  }

  .block-title {
    justify-content: space-between;
    &::before {
      display: none;
    }
    .title {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        display: block;
        width: 5px;
        height: 18px;
        background-color: #00f8ff;
        margin-right: 6px;
      }
    }
    .top-btn-box {
      display: flex;
      align-items: center;

      .btn-item {
        height: 16px;
        font-size: 14px;
        font-weight: 400;
        padding: 3px 5px;
        border-radius: 3px;
        cursor: pointer;

        &.active {
          background-color: $color-p2;
        }
      }
    }
  }
}

.right {
  .block1 {
    margin-top: 20px;

    .video-content {
      padding: 0 20px;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .video-item {
        width: 47%;
        margin-bottom: 15px;

        .pic-box {
          width: 100%;
          height: 90px;
          margin-bottom: 3px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .pic-info {
          color: $color6;
        }
      }
    }
  }

  .block2 {
    margin-top: 10px;

    .security-content {
      padding: 0 20px;

      .top {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;

        .top-item {
          width: 21%;
          text-align: center;

          &.active {
            position: relative;
            &::before {
              content: '';
              display: block;
              width: 140%;
              height: 80%;
              position: absolute;
              left: 50%;
              margin-left: -70%;
              bottom: 10px;
              background-image: linear-gradient(to top, #00c0ff, #00c0ff1A, transparent);
              border-radius: 50px;
            }
          }

          .num {
            color: $color-p5;
            font-size: 20px;
            margin-bottom: 6px;
            position: relative;
            font-weight: 700;
          }
          .txt {
            position: relative;
          }
        }
      }

      .charts-bar {
        height: 160px;
        margin-top: 10px;
      }
    }
  }
}

.content {
  .point-box {
    position: absolute;
    right: 10px;
    top: 80px;
    border: 1px solid $color1;
    background-color: rgba(10, 41, 60, 0.83);
    padding: 20px 5px 10px;

    .point-item {
      padding: 0 5px 0 20px;
      position: relative;
      margin-top: -10px;

      span {
        cursor: pointer;
        color: $color6;
      }

      &.active {
        span {
          color: $color1;
        }

        &::before {
          background-color: $color1;
        }
      }

      &:nth-last-child(1) {
        &::after {
          width: 0;
          height: 0;
        }
      }

      &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: $color6;
        position: absolute;
        left: 5px;
        top: 5px;
      }

      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 30px;
        background-color: $color6;
        position: relative;
        top: -5px;
        left: -10px;
      }
    }
  }

  .jk-box {
    position: absolute;
    top: 400px;
    left: 700px;

    .icon-jiankongshebei {
      width: 50px;
      height: 50px;
      border: 1px solid $color1;
      box-sizing: border-box;
      padding: 3px;
      color: $color1;
      font-size: 30px;
      background-color: rgba(10, 41, 60, 0.70);
      cursor: pointer;
    }
  }
}
