@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.left .block1 {
  margin-top: 30px;
}
.left .block1 .block1-content {
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.left .block1 .block1-content .block1-left {
  width: 120px;
  height: 120px;
  position: relative;
}
.left .block1 .block1-content .block1-left .circle-bg {
  width: 100%;
  height: 100%;
  background-image: url(../../images/pages/Pie1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: rotate-animation 1s linear infinite;
}
.left .block1 .block1-content .block1-left .num-circle {
  width: 76px;
  height: 76px;
  background-color: #0381d9;
  border-radius: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.left .block1 .block1-content .block1-left .num-circle .num {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.left .block1 .block1-content .block1-left .num-circle .label {
  color: #c6c6c6;
}
.left .block1 .block1-content .block1-right {
  flex: 1;
}
.left .block1 .block1-content .block1-right .num-block {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left .block1 .block1-content .block1-right .num-block .num-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}
.left .block1 .block1-content .block1-right .num-block .num-item .num {
  color: #00c0ff;
  line-height: 18px;
  font-size: 18px;
}
.left .block1 .block1-content .block1-right .num-block .num-item .num.zero {
  color: #c6c6c6;
  font-size: 14px;
}
.left .block1 .block1-content .block1-right .num-block .num-item .label {
  color: #c6c6c6;
}
.left .block1 .block1-content .block1-right .line {
  height: 1px;
  background-image: linear-gradient(to right, transparent, #00c0ff, transparent);
}
.left .block2 {
  margin-top: 30px;
}
.left .block2 .block-content {
  padding: 0 20px;
}
.left .block2 .block-content .charts-line {
  height: 160px;
}
.left .block2 .block-content .info-box {
  margin-bottom: 5px;
  color: #c6c6c6;
}
.left .block2 .block-content .info-box span {
  color: #ff8c0e;
}
.left .block3 {
  margin-top: 30px;
}
.left .block3 .warning-list {
  margin-top: 20px;
  padding: 0 30px;
}
.left .block3 .warning-list .warning-item {
  display: flex;
  align-items: center;
  color: #c6c6c6;
  margin-bottom: 10px;
}
.left .block3 .warning-list .warning-item.level1 {
  color: #ff2a0e;
}
.left .block3 .warning-list .warning-item.level2 {
  color: #ff8c0e;
}
.left .block3 .warning-list .warning-item .iconfont {
  margin-right: 10px;
}
.left .block3 .warning-list .warning-item .desc {
  width: 180px;
  margin-right: 10px;
}
.left .block3 .warning-list .warning-item .date {
  color: #c6c6c6;
}
.left .block-title {
  justify-content: space-between;
}
.left .block-title::before {
  display: none;
}
.left .block-title .title {
  display: flex;
  align-items: center;
}
.left .block-title .title::before {
  content: "";
  display: block;
  width: 5px;
  height: 18px;
  background-color: #00f8ff;
  margin-right: 6px;
}
.left .block-title .top-btn-box {
  display: flex;
  align-items: center;
}
.left .block-title .top-btn-box .btn-item {
  height: 16px;
  font-size: 14px;
  font-weight: 400;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
}
.left .block-title .top-btn-box .btn-item.active {
  background-color: #0381d9;
}

.right .block1 {
  margin-top: 20px;
}
.right .block1 .video-content {
  padding: 0 20px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.right .block1 .video-content .video-item {
  width: 47%;
  margin-bottom: 15px;
}
.right .block1 .video-content .video-item .pic-box {
  width: 100%;
  height: 90px;
  margin-bottom: 3px;
}
.right .block1 .video-content .video-item .pic-box img {
  width: 100%;
  height: 100%;
}
.right .block1 .video-content .video-item .pic-info {
  color: #c6c6c6;
}
.right .block2 {
  margin-top: 10px;
}
.right .block2 .security-content {
  padding: 0 20px;
}
.right .block2 .security-content .top {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.right .block2 .security-content .top .top-item {
  width: 21%;
  text-align: center;
}
.right .block2 .security-content .top .top-item.active {
  position: relative;
}
.right .block2 .security-content .top .top-item.active::before {
  content: "";
  display: block;
  width: 140%;
  height: 80%;
  position: absolute;
  left: 50%;
  margin-left: -70%;
  bottom: 10px;
  background-image: linear-gradient(to top, #00c0ff, #00c0ff1A, transparent);
  border-radius: 50px;
}
.right .block2 .security-content .top .top-item .num {
  color: #86cdff;
  font-size: 20px;
  margin-bottom: 6px;
  position: relative;
  font-weight: 700;
}
.right .block2 .security-content .top .top-item .txt {
  position: relative;
}
.right .block2 .security-content .charts-bar {
  height: 160px;
  margin-top: 10px;
}

.content .point-box {
  position: absolute;
  right: 10px;
  top: 80px;
  border: 1px solid #00f8ff;
  background-color: rgba(10, 41, 60, 0.83);
  padding: 20px 5px 10px;
}
.content .point-box .point-item {
  padding: 0 5px 0 20px;
  position: relative;
  margin-top: -10px;
}
.content .point-box .point-item span {
  cursor: pointer;
  color: #c6c6c6;
}
.content .point-box .point-item.active span {
  color: #00f8ff;
}
.content .point-box .point-item.active::before {
  background-color: #00f8ff;
}
.content .point-box .point-item:nth-last-child(1)::after {
  width: 0;
  height: 0;
}
.content .point-box .point-item::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #c6c6c6;
  position: absolute;
  left: 5px;
  top: 5px;
}
.content .point-box .point-item::after {
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  background-color: #c6c6c6;
  position: relative;
  top: -5px;
  left: -10px;
}
.content .jk-box {
  position: absolute;
  z-index: 0;
}
.content .jk-box .icon-jiankongshebei {
  width: 50px;
  height: 50px;
  border: 1px solid #00f8ff;
  box-sizing: border-box;
  padding: 3px;
  color: #00f8ff;
  font-size: 30px;
  background-color: rgba(10, 41, 60, 0.7);
  cursor: pointer;
}
.content .jk-box .video-info-box {
  position: absolute;
  top: -175px;
  left: -116px;
  width: 260px;
  height: 168px;
  background-color: rgba(10, 41, 60, 0.7);
  border: 1px solid #00f8ff;
  padding: 3px;
  box-sizing: border-box;
}
.content .jk-box .video-info-box .title {
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.content .jk-box .video-info-box .pic-box {
  width: 100%;
  height: 125px;
  margin-top: 5px;
  position: relative;
}
.content .jk-box .video-info-box .pic-box img {
  width: 100%;
  height: 100%;
}
.content .jk-box .video-info-box .pic-box .pic-txt {
  position: absolute;
  top: 5px;
  left: 5px;
}

/*# sourceMappingURL=security.css.map */
