@import "../var.scss";

.left {
  .block2 {
    margin-bottom: 20px;
    .block-title {
      justify-content: space-between;
      &::before {
        display: none;
      }
      .title {
        display: flex;
        align-items: center;

        &::before {
          content: "";
          display: block;
          width: 5px;
          height: 18px;
          background-color: #00f8ff;
          margin-right: 6px;
        }
      }
      .top-btn-box {
        display: flex;
        align-items: center;

        .btn-item {
          height: 16px;
          font-size: 14px;
          font-weight: 400;
          padding: 3px 5px;
          border-radius: 3px;
          cursor: pointer;

          &.active {
            background-color: $color-p2;
          }
        }
      }
    }

    .block-content {
      padding: 0 20px;

      .charts-line {
        height: 130px;
      }

      .info-box {
        margin-bottom: 5px;
        color: $color6;

        span {
          color: $color4;
        }
      }
    }
  }

  .block3 {
    .warning-list {
      margin-top: 20px;
      padding: 0 30px;

      .warning-item {
        display: flex;
        align-items: center;
        color: $color6;
        margin-bottom: 10px;

        &.level1 {
          color: $color5;
        }

        &.level2 {
          color: $color4;
        }

        .iconfont {
          margin-right: 10px;
        }
        .desc {
          width: 180px;
          margin-right: 10px;
        }
        .date {
          color: $color6;
        }
      }
    }
  }
}
