@charset "UTF-8";
.icon {
  background: url("../images/icon.png") no-repeat;
}

.common-header {
  height: 100px;
}
.common-header .wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.common-header .wrap .logo {
  width: 425px;
  height: 62px;
}
.common-header .wrap .logo img {
  width: 100%;
  height: 100%;
}
.common-header .wrap .nav-box {
  display: flex;
  height: 100%;
}
.common-header .wrap .nav-box .nav {
  height: 100%;
  display: flex;
}
.common-header .wrap .nav-box .nav .nav-item {
  height: 100%;
  padding: 0 12px;
  display: flex;
  align-items: center;
}
.common-header .wrap .nav-box .nav .nav-item.active {
  background-color: rgba(217, 213, 255, 0.36);
  position: relative;
}
.common-header .wrap .nav-box .nav .nav-item.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #3477c8;
  position: absolute;
  bottom: 0;
  left: 0;
}
.common-header .wrap .nav-box .search-client {
  display: flex;
  align-items: center;
}
.common-header .wrap .nav-box .search-client .search {
  width: 200px;
  float: right;
  border-radius: 25px;
  background: #e9e9e9;
  height: 26px;
  padding: 2px 10px 2px 10px;
  margin-left: 10px;
}
.common-header .wrap .nav-box .search-client input {
  border: 0;
  height: 24px;
  line-height: 24px;
  float: left;
  width: 140px;
  background: #e9e9e9;
}
.common-header .wrap .nav-box .search-client span {
  width: 20px;
  height: 20px;
  background-position: -120px 0;
  border: 0;
  float: left;
  margin: 5px 0 0 10px;
}

.index-page {
  /* banner */
  /* 滚动新闻 */
}
.index-page .banner {
  height: 580px;
  overflow: hidden;
  width: 100%;
  min-width: 1200px;
  clear: both;
  position: relative;
}
.index-page .banner .lubo {
  width: 100%;
  min-width: 1000px;
  clear: both;
  position: relative;
  height: 580px;
}
.index-page .banner .lubo .lubo_box {
  position: relative;
  width: 100%;
  height: 580px;
}
.index-page .banner .lubo .lubo_box .lubo_item {
  float: left;
  width: 100% !important;
  height: 580px;
  background-color: #cc0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index-page .banner .lubo .lubo_box .lubo_item a {
  display: block;
  width: 100%;
  height: 100%;
}
.index-page .banner .lubo .cir_box {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -80px;
  bottom: 10%;
}
.index-page .banner .lubo .cir_box li {
  float: left;
  width: 30px;
  height: 5px;
  margin: 0 5px;
  cursor: pointer;
  background: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.index-page .banner .lubo .cir_box li.on {
  background: #000 !important;
}
.index-page .banner .lubo .lubo_btn {
  position: absolute;
  width: 100%;
  top: 270px;
  font-family: "宋体";
}
.index-page .banner .lubo .lubo_btn .prev,
.index-page .banner .lubo .lubo_btn .next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
  cursor: pointer;
  color: #fff;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.index-page .banner .lubo .lubo_btn .prev:hover,
.index-page .banner .lubo .lubo_btn .next:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.index-page .banner .lubo .lubo_btn .prev {
  float: left;
  margin-left: 100px;
}
.index-page .banner .lubo .lubo_btn .next {
  float: right;
  margin-right: 100px;
}
.index-page .notice {
  background-color: rgba(217, 213, 255, 0.36);
  height: 38px;
  line-height: 38px;
  z-index: 99;
  overflow: hidden;
}
.index-page .notice .notice-box {
  display: flex;
}
.index-page .notice .notice-box .icon-gonggao {
  margin-right: 10px;
  color: #3477c8;
}
.index-page .notice .notice-box .more {
  color: #ffbd1a;
}
.index-page .notice li {
  height: 38px;
  line-height: 38px;
  overflow: hidden;
}
.index-page .notice li a {
  color: #333;
}
.index-page .notice li a:hover {
  color: #3477c8;
}

/*# sourceMappingURL=style.css.map */
