.block {
  margin-top: 10px;

  :deep(.el-descriptions__body) {
    padding: 0 20px;
    white-space: pre-wrap;
  }

  :deep(.el-form-item) {
    margin-bottom: 0 !important;
  }
  :deep(.el-textarea) {
    width: 800px;
  }
}

.top-button {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
