.console {
  .console-block {
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;

    .block-title {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .block1 {
      display: flex;
      justify-content: space-between;

      .block1-item {
        width: 200px;
        height: 80px;
        background-color: #efefef;
        border-radius: 5px;
        margin: 0 70px;
        display: flex;
        flex-direction: column;

        .text {
          margin: 16px 0 6px 100px;
          font-size: 16px;
        }

        .num {
          font-weight: 700;
          font-size: 20px;
          margin-left: 100px;
        }
      }

      .block-bar {
        width: 2px;
        height: 80px;
        background-color: #cccccc;
      }
    }

    .block3 {
      .block3-item {
        display: flex;
        justify-content: space-between;
        line-height: 32px;
        .t0 {
          text-align: left;
          flex: 2;
        }
        .t1 {
          flex: 1;
          text-align: center;
        }
      }
    }
  }

  .console-box {
    display: flex;
    margin: 10px 0;
    .console-block {
      &:nth-child(1) {
        flex: 1.5;
      }
      &:nth-child(2) {
        flex: 2;
        margin: 0 10px;
      }
      &:nth-child(3) {
        flex: 1;
      }
    }
  }
}
