@import "../reset-layui.scss";

html, body {
  width: 100%;
  height: 100%;
}

.login-body {
  position: relative;

  .bg {
    height: 100%;
    background-image: url(../../images/page/login/login_bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .login-form {
    width: 460px;
    height: 297px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 231px;
    margin-top: -88px;
    box-sizing: border-box;
    padding: 0 56px;
    background-color: #fff;

    &::after {
      content: '';
      width: 460px;
      height: 70px;
      background-image: url(../../images/page/login/login_title.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: -90px;
    }

    .login-title {
    }

    .form-title {
      font-size: 16px;
      text-align: center;
      margin: 30px 0 25px;
      font-weight: 700;
    }
  }
}

.layui-form-item {
  &.t-right {
    display: flex;
    justify-content: flex-end;

    .layui-form-checkbox[lay-skin=primary] {
      margin-top: 0;
    }

    .alink-box {
      a {
        color: $paramColor;
      }
    }
  }

  &.btn-box {
    text-align: center;

    .layui-btn {
      width: 261px;
      height: 43px;
    }
  }

  .layui-form-label {
    width: 63px;
    text-align: left;
    box-sizing: border-box;
    padding: 9px 0;
  }

  .layui-input-block {
    margin-left: 63px;

    .layui-input {
      width: 262px;
      height: 35px;
    }
  }
}
