@charset "UTF-8";
.layui-form-checked[lay-skin=primary] i {
  border-color: #007fff !important;
  background-color: #007fff;
  color: #fff;
}

.layui-form-select dl dd.layui-this {
  background-color: #007fff;
}

.inner-body {
  padding: 10px;
  /*按钮*/
  /* tab */
  /* 表格 */
  /* 标签 */
}
.inner-body .page-header {
  height: 42px;
  border-bottom: 2px solid #007fff;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-body .page-header.no-border {
  border-bottom: none;
}
.inner-body .page-header .title {
  position: relative;
}
.inner-body .page-header .title::before {
  content: "";
  width: 5px;
  height: 16px;
  position: absolute;
  display: block;
  background-color: #007fff;
  top: 2px;
  left: -8px;
}
.inner-body .page-header .right {
  display: flex;
}
.inner-body .page-header .right .btn {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 13px;
  border-radius: 3px;
}
.inner-body .page-header .right .btn.btn-weaken {
  color: #333333;
  background-color: #b7d5f4;
}
.inner-body .page-header .right .btn.btn-weaken .iconfont {
  color: #333;
}
.inner-body .page-header .right .btn .iconfont {
  font-size: 20px;
  margin-right: 5px;
}
.inner-body .page-container .select-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.15);
}
.inner-body .page-container .select-box .form-top {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-body .page-container .select-box .form-top .title-left {
  font-size: 18px;
}
.inner-body .page-container .select-box .layui-inline {
  margin-right: 40px;
}
.inner-body .page-container .select-box .layui-inline .layui-form-label {
  width: auto;
  padding-left: 0;
  padding-top: 6px;
}
.inner-body .page-container .select-box .layui-inline .layui-input-inline.inner-input-w155 .layui-input {
  width: 155px;
}
.inner-body .page-container .select-box .layui-inline .layui-input-inline .layui-input.w155 {
  width: 155px;
}
.inner-body .page-container .select-box .layui-btn {
  height: 35px;
  line-height: 35px;
}
.inner-body .page-container .select-box .layui-btn.btn-weaken {
  background-color: #ccc;
}
.inner-body .page-container .content-table {
  margin-top: 10px;
}
.inner-body .layui-table-page {
  color: #fff;
}
.inner-body .layui-table-page .layui-laypage {
  float: right;
}
.inner-body .layui-table-page .layui-laypage input:focus,
.inner-body .layui-table-page .layui-laypage elect:focus {
  border-color: #007fff !important;
}
.inner-body .layui-table-page .layui-laypage a {
  background-color: rgba(0, 165, 255, 0.1);
  color: #fff;
  margin: 0 5px;
}
.inner-body .layui-table-page .layui-laypage a:hover {
  color: #007fff;
}
.inner-body .layui-table-page .layui-laypage .layui-laypage-count {
  margin: 0 3px;
  color: #fff;
  background-color: rgba(0, 165, 255, 0.1);
  padding: 0 10px;
  box-sizing: border-box;
}
.inner-body .layui-table-page .layui-laypage .layui-laypage-curr {
  margin: 0 3px;
}
.inner-body .layui-table-page .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #007fff;
}
.inner-body .content-table .layui-table tbody tr:hover, .inner-body .content-table .layui-table thead tr, .inner-body .content-table .layui-table-click, .inner-body .content-table .layui-table-header, .inner-body .content-table .layui-table-hover, .inner-body .content-table .layui-table-mend, .inner-body .content-table .layui-table-patch, .inner-body .content-table .layui-table-tool, .inner-body .content-table .layui-table-total, .inner-body .content-table .layui-table-total tr, .inner-body .content-table .layui-table[lay-even] tr:nth-child(even) {
  background-color: transparent;
}
.inner-body .content-table .layui-table-page,
.inner-body .content-table .layui-table-header,
.inner-body .content-table .layui-table-view {
  border-color: transparent;
}
.inner-body .content-table .layui-table {
  background-color: transparent;
  color: #fff;
}
.inner-body .content-table .layui-table td {
  border-color: transparent;
  background-color: rgba(0, 165, 255, 0.1);
}
.inner-body .content-table .layui-table th {
  color: #0beeec;
  font-weight: 700;
  border-color: transparent;
  background-color: rgba(0, 165, 255, 0.3);
}
.inner-body .content-table .table-tool-link {
  margin-right: 10px;
  color: #2372a9;
}
.inner-body .content-table .table-tool-link:hover {
  color: #007fff;
}
.inner-body .btn-primary-sec {
  background-color: #23b5df;
}
.inner-body .btn-primary-dep {
  background-color: #454545;
}
.inner-body .btn-tb-create {
  height: 25px;
  line-height: 25px;
  background-color: #fff;
  color: #007fff;
  border: 1px solid #007fff;
  border-radius: 5px;
}
.inner-body .layui-tab-brief > .layui-tab-title .layui-this {
  color: #007fff;
}
.inner-body .layui-tab-brief > .layui-tab-title .layui-this::after {
  border-bottom-color: #007fff;
}
.inner-body .layui-badge {
  background-color: #ff0b0b;
}
.inner-body .layui-badge.layui-bg-green {
  background-color: #1ec004 !important;
}

/* 输入框 */
.layui-input, .layui-select, .layui-textarea {
  height: 35px;
  border-radius: 3px;
  box-sizing: border-box;
}

.layui-textarea {
  resize: none;
}

.layui-form-label.required span {
  position: relative;
}
.layui-form-label.required span::before {
  content: "*";
  color: #ff0000;
  position: absolute;
  left: -10px;
  top: 0;
}

/* layer */
.layui-layer-hui .layui-layer-content {
  color: #fff;
}

.layui-layer.layui-layer-page {
  color: #fff;
  border: 1px solid #2372a9;
}
.layui-layer.layui-layer-page .layui-layer-close {
  color: #007fff;
  font-size: 24px !important;
  top: -6px;
}
.layui-layer.layui-layer-page .layui-layer-title {
  background-image: linear-gradient(#04365f, #002041);
  color: #fff;
  border-bottom: 1px solid #2372a9;
}
.layui-layer.layui-layer-page .layui-layer-content {
  color: #fff;
  background-image: linear-gradient(#04365f, #002041);
}
.layui-layer.layui-layer-page .layui-layer-btn {
  background-color: #f0f0f0;
}
.layui-layer.layui-layer-page .layui-layer-btn .layui-layer-btn0 {
  background-color: #007fff;
}
.layui-layer.layui-layer-page .layui-layer-btn .layui-layer-btn1 {
  color: #ffffff;
  background-color: #23b5df;
}

.layui-layer-content {
  color: #333;
}

.layui-input.disabled {
  background-color: #f5f5f5;
  color: #888888;
}

.btn-weaken {
  background-color: #b7d5f4;
  color: #333;
}

.clearFix:after {
  content: "";
  clear: both;
  display: block;
}

.clearFix {
  zoom: 1;
}

.fl {
  float: left;
  display: inline;
}

.fr {
  float: right;
  display: inline;
}

.centerX {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.centerXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.txt-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

html, body {
  width: 100%;
  height: 100%;
}

.login-body {
  position: relative;
}
.login-body .bg {
  height: 100%;
  background-image: url(../../images/page/login/login_bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-body .login-form {
  width: 460px;
  height: 297px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 231px;
  margin-top: -88px;
  box-sizing: border-box;
  padding: 0 56px;
  background-color: #fff;
}
.login-body .login-form::after {
  content: "";
  width: 460px;
  height: 70px;
  background-image: url(../../images/page/login/login_title.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: -90px;
}
.login-body .login-form .form-title {
  font-size: 16px;
  text-align: center;
  margin: 30px 0 25px;
  font-weight: 700;
}

.layui-form-item.t-right {
  display: flex;
  justify-content: flex-end;
}
.layui-form-item.t-right .layui-form-checkbox[lay-skin=primary] {
  margin-top: 0;
}
.layui-form-item.t-right .alink-box a {
  color: #007fff;
}
.layui-form-item.btn-box {
  text-align: center;
}
.layui-form-item.btn-box .layui-btn {
  width: 261px;
  height: 43px;
}
.layui-form-item .layui-form-label {
  width: 63px;
  text-align: left;
  box-sizing: border-box;
  padding: 9px 0;
}
.layui-form-item .layui-input-block {
  margin-left: 63px;
}
.layui-form-item .layui-input-block .layui-input {
  width: 262px;
  height: 35px;
}

/*# sourceMappingURL=login.css.map */
