@font-face {
  font-family: "iconfont"; /* Project id 2613493 */
  src: url('iconfont.woff2?t=1634689661017') format('woff2'),
       url('iconfont.woff?t=1634689661017') format('woff'),
       url('iconfont.ttf?t=1634689661017') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e7b7";
}

.icon-bianji1:before {
  content: "\e634";
}

.icon-shanchu:before {
  content: "\e635";
}

.icon-fenxipinggu:before {
  content: "\e616";
}

.icon-xunjianjianyan:before {
  content: "\e907";
}

.icon-xiangmutuijin:before {
  content: "\e654";
}

.icon-baojingshezhi:before {
  content: "\e666";
}

.icon-yujing:before {
  content: "\e677";
}

.icon-Fill-:before {
  content: "\eaf2";
}

.icon-shidu:before {
  content: "\e64f";
}

.icon-shouqi:before {
  content: "\e640";
}

.icon-jiance:before {
  content: "\e60e";
}

.icon-shouye:before {
  content: "\e637";
}

.icon-xitongguanlicopyx:before {
  content: "\e60a";
}

.icon-BIM:before {
  content: "\e603";
}

.icon-shipinjiankong:before {
  content: "\e604";
}

.icon-baojingxinxi:before {
  content: "\e688";
}

