$paramColor: #007fff;
$paramColorHov: #3794ff;
$bodyBgc: #ebf2fc;
$sideBarBgc: rgba(25, 121, 187, 0.5);
$alpBgc: rgba(0, 165, 255, .1);

.inner-body.home {
  display: flex;
  justify-content: space-between;
  .map-container {
    width: 1380px;
    height: 810px;
    border: 1px solid $paramColorHov;
  }
  .right-box {
    flex: 1;
    margin-left: 10px;

    .nav {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .btn-item {
        flex: 1;
        background-color: $alpBgc;
        padding: 10px 20px;
        border: 1px solid $sideBarBgc;
        margin: 0 5px;
        cursor: pointer;

        &.active {
          background-color: $paramColor;
        }
      }
    }

    .right-content {
      .title {
        width: 150px;
        height: 30px;
        margin: 0 auto;
        text-align: center;
        line-height: 30px;
        background-image: url(../../images/page/qljc/home-block-title.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .block {
        background-image: url(../../images/page/qljc/background.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        margin-bottom: 10px;
      }

      .block-1 {
        height: 258px;
        .block-1-info {
          padding: 0 20px;

          .info-title {
            color: #00fffc;
            margin-bottom: 5px;
          }

          .info-item {
            display: flex;
            .label {
              color: $sideBarBgc;
            }
          }
        }

        .block1-nums {
          display: flex;
          justify-content: center;
          margin: 20px 0;

          .nums-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            .top {
              color: $sideBarBgc;
              flex: 1;
              margin-bottom: 10px;
            }
          }

          .nums-line {
            width: 0;
            height: 50px;
            border-left: 1px dashed rgba(255, 255, 255, 0.1);
            margin: 0 20px;
          }
        }
      }

      .block-2 {
        height: 225px;
        padding: 20px 30px;
        box-sizing: border-box;
        .block-top {
          display: flex;
          flex-wrap: wrap;
          padding-bottom: 10px;
          border-bottom: 1px $sideBarBgc dashed;

          .info-item {
            width: 50%;
            height: 25px;
            line-height: 25px;
            margin-bottom: 3px;

            .label {
              color: $sideBarBgc;
            }

            .desc {
              &.red {
                color: #f00;
              }
              &.yellow {
                color: #fbc200;
              }
              &.green {
                color: #00f200;
              }
            }
          }
        }
        .block-bottom {
          display: flex;
          justify-content: space-around;
          padding: 20px 0;

          .bottom-item {
            height: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .top {
              color: $sideBarBgc;
              margin-bottom: 10px;
            }

            .bottom {
              font-size: 34px;
              color: #00fffc;
            }
          }
        }
      }

      .block-3 {
        height: 260px;
        .block-video {
          padding: 0 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 20px 0 10px;

          .video-item {
            width: 46%;
            height: 80px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 20px;
            position: relative;
            cursor: pointer;

            &::after {
              content: '';
              width: 40px;
              height: 40px;
              display: block;
              background-image: url(http://127.0.0.1:8080/qljcs/images/page/qljc/bofang.png);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              position: absolute;
              left: 50%;
              top: 50%;
              margin-left: -20px;
              margin-top: -20px;
            }
          }
        }
      }
    }
  }
}

.inner-body.equipment-management {
  .nav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 5px;

    .left {
      font-size: 16px;
    }
  }
}

.inner-body.equipment-form {
  .info-block {
    padding: 20px;
    background-color: rgba(0, 0, 0, .3);
    margin-bottom: 20px;

    .top-title {
      font-size: 18px;
      line-height: 2;
      margin-bottom: 16px;
    }

    .info-item-box {
      display: flex;
      align-content: center;

      .info-item {
        display: flex;
        margin-right: 40px;
        .label {
          color: $paramColor;
        }
        .desc {
          color: #fff;
        }
      }
    }

    .form-title {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .form-box {
      width: 78%;
      display: flex;
      flex-wrap: wrap;

      .layui-form-item {
        margin-right: 40px;

        .w120 {
          width: 120px;
        }

        .name-layer {
          color: #777;
          display: flex;
          align-items: center;
        }

        &.mt20 {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
        }
      }

      .layui-input-block {
        display: flex;

        .layui-input {
          margin-right: 20px;
        }

        .w160 {
          width: 160px;
        }
        .w350 {
          width: 350px;
        }
      }
    }

    .name-list-placeholder {
      min-width: 130px;
      margin-top: 20px;
      position: relative;
      left: 150px;
      top: -10px;
      display: inline-block;

      .name-item {
        width: max-content;
        background-color: $sideBarBgc;
        margin-bottom: 5px;
        box-sizing: border-box;
        padding: 0 5px;
        font-size: 12px;

        span {
          margin-right: 10px;

          &.icon-guanbi {
            cursor: pointer;
            margin: 0;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.bridge-monitoring,
.analysis-evaluation,
.bim-body,
.inner-body.video-control,
.inner-body.inspection-maintenance,
.inner-body.warning-message {
  .nav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 5px;

    .left {
      display: flex;
      color: $paramColorHov;

      .warning-sample {
        margin-right: 20px;
        display: flex;
        align-items: center;
      }
    }

    .right {
      display: flex;
      align-items: center;
      font-size: 16px;

      .btn-item {
        background-color: $alpBgc;
        padding: 10px 20px;
        border: 1px solid $sideBarBgc;
        margin-left: 10px;
        cursor: pointer;

        &.active {
          background-color: $paramColor;
        }
      }

      .setting-warning {
        margin-right: 20px;
        color: $paramColorHov;
        cursor: pointer;

        .iconfont {
          margin-right: 5px;
        }
      }
    }
  }

  .iconfont.icon-yujing {
    font-size: 20px;
    margin-right: 5px;

    &.red {
      color: red;
    }
    &.orange {
      color: orange;
    }
    &.yellow {
      color: yellow;
    }
    &.blue {
      color: #0051ff;
    }
  }
}

.bim-body {
  .nav {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.inner-body.bridge-monitoring {
  .select-box {
    margin-top: 10px;
  }

  .bridge-box {
    margin-top: 10px;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-x: auto;

    .bridge-pic {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      .instrument-item {
        width: 150px;
        height: 40px;
        position: absolute;
        top: 242px;
        left: 1334px;
        display: flex;
        cursor: pointer;

        .inst-item-icon {
          width: 40px;
          height: 40px;
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .inst-item-info {
          flex: 1;
          border: 1px solid $paramColor;
          background-color: rgba(0, 0, 0, .3);
          padding: 0 5px;
          box-sizing: border-box;

          p {
            width: 100%;
            height: 20px;
          }
        }
      }
    }
  }
}

#instrumentEchartsForm {
  .echarts-layer-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);

    .top-info-box {
      margin-left: 40px;
      .info-title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .info-container {
        display: flex;

        .pic {
          width: 130px;
          height: 100px;
          margin-right: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .info-list {
          .info-item {
            display: flex;
            margin-bottom: 5px;

            .label {
              color: #aaa;
            }
          }
        }
      }
    }

    .echarts-box {
      flex: 1;
    }
  }
}

.inner-body.analysis-evaluation {
  .nav {
    margin: -25px 0 12px;
    padding: 0;
  }

  .page-container {
    background-image: url('../../images/page/qljc/inspection-bg-r.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 50px;
    box-sizing: border-box;

    .container-nav {
      display: flex;
      margin-bottom: 20px;

      .nav-item {
        width: 150px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        background-image: url('../../images/page/qljc/down_.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        &.active {
          background-image: url('../../images/page/qljc/on.png');
        }
      }
    }

    .select-box {

      .layui-form {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0 0;

        .layui-inline {
          margin-bottom: 20px;
        }

        .layui-input {
          width: 255px;
          transition: none;
        }
      }
    }
  }

  .echarts-box {
    margin-top: 10px;
    width: 100%;
    height: 560px;
    background-color: rgba(0, 0, 0, 0.3);

    .echarts-title {
      padding: 20px 30px 0;
    }

    .echarts-container {
      padding: 20px;

      .echarts {
        height: 470px;
        background-color: transparent;
      }
    }

    .empty {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.inner-body.video-control {
  .page-container {
    min-height: 600px;
    margin-top: 20px;

    .left {
      width: 78%;
      height: 100%;
      margin-right: 2%;

      .select-box {
        background-color: #f2f2f2;
        padding: 0 20px;
        box-sizing: border-box;
        height: 50px;
        align-items: center;
        color: #333;

        .layui-inline {
          margin-right: 10px;
        }
      }

      .video-box {
        background-color: #ccc;
        height: 692px;
        margin-bottom: 50px;
        position: relative;

        .video-title {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 16px;
          padding: 0 10px;
          box-sizing: border-box;
          line-height: 30px;
          color: #333;
        }
      }

      .ctrl-box {
        width: 100%;
        height: 104px;
        position: relative;

        .btn-box {
          width: 306px;
          height: 100%;
          position: absolute;
          left: 50%;
          top: 0;
          margin-left: -153px;

          .b-mid {
            width: 155px;
            height: 100%;
            margin-top: -10px;

            .b-p {
              background-position: center center;
              background-size: auto;
              background-repeat: no-repeat;
              cursor: pointer;
              opacity: .6;

              &:hover {
                opacity: 1;
              }
            }

            .b-m-top {
              width: 72px;
              height: 17px;
              margin: 0 auto;
              background-image: url(../../images/page/qljc/up.png);
            }

            .b-m-mid {
              width: 106px;
              height: 72px;
              margin: 0 auto;

              .btn-mb-l {
                width: 17px;
                height: 72px;
                background-image: url(../../images/page/qljc/left.png);
              }

              .btn-mb-m {
                width: 72px;
                height: 72px;
                background-image: url(../../images/page/qljc/center.png);
              }

              .btn-mb-r {
                width: 17px;
                height: 72px;
                background-image: url(../../images/page/qljc/right.png);
              }
            }

            .b-m-bottom {
              width: 72px;
              height: 17px;
              margin: 0 auto;
              background-image: url(../../images/page/qljc/down.png);
            }
          }

          .btn-item {
            width: 74px;
            height: 33px;
            color: #fff;
            border: 1px solid $paramColor;
            border-radius: 5px;
            display: block;
            background-color: transparent;
            margin-bottom: 16px;
            cursor: pointer;
          }
        }
      }
    }

    .right {
      width: 20%;
      height: 100%;

      .right-content {
        height: 740px;
        border: 1px dotted #ededed;
        margin-bottom: 10px;
        background-color: #f2f2f2;

        .arrow {
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: relative;

          &:hover {
            .iconfont {
              color: #333;
            }
          }

          &.up {
            .icon-bofang {
              transform: rotate(-90deg);
            }
          }

          &.down {
            .icon-bofang {
              transform: rotate(90deg);
            }
          }

          .iconfont {
            font-size: 32px;
            color: #b1b1b1;
          }
        }

        .content {
          height: 630px;
          margin: 5px 0;
          position: relative;
          overflow: hidden;

          .content-slide {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 10px;
            transition: top .3s;
            box-sizing: border-box;

            .content-item {
              width: 100%;
              height: 210px;
              margin: 0 auto;
              position: relative;

              &.active {
                .play-icon {
                  display: none;
                }

                .pic {
                  border: 1px solid $paramColor;
                }
              }

              .pic {
                width: 100%;
                height: 158px;
                margin-bottom: 10px;
              }

              .title {
                color: #333;
              }

              .play-icon {
                width: 45px;
                height: 45px;
                background-image: url(../../images/page/qljc/bofang.png);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-top: -25px
              }

              .cover {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.inner-body.inspection-maintenance {
  .content {
    display: flex;
    margin-top: 10px;

    .content-item {
      height: 100%;
      overflow-y: auto;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .content-left {
      width: 15%;
      background-image: url("../../images/page/qljc/inspection-bg-l.png");

      .left-title {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        box-sizing: border-box;
        border-bottom: 1px $sideBarBgc dotted;
      }

      .search-box {
        margin-top: 10px;
        padding: 0 20px;
        box-sizing: border-box;

        .search-input {
          width: 100%;
          height: 40px;
          background-color: rgba(0, 0, 0, .6);
          color: #ffffff;
          padding: 0 10px;
          box-sizing: border-box;
          outline: none;
          border: none;
        }
      }

      .tree-box {
        margin-top: 20px;
      }
    }

    .content-right {
      flex: 1;
      margin-left: 10px;
      background-image: url("../../images/page/qljc/inspection-bg-r.png");
      padding: 20px 50px;
      box-sizing: border-box;

      .content-right-title {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px dotted $sideBarBgc;
        text-align: center;
        position: relative;

        h1 {
          font-weight: 700;
        }

        .score {
          height: 40px;
          line-height: 40px;
          border: 1px solid $paramColor;
          color: $paramColor;
          padding: 0 20px;
          font-size: 22px;
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      .content-nav {
        height: 30px;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;

        .content-nav-item {
          width: 150px;
          line-height: 30px;
          text-align: center;
          cursor: pointer;
          background-image: url('../../images/page/qljc/down_.png');
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;

          &.active {
            background-image: url('../../images/page/qljc/on.png');
          }
        }
      }

      .right-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .content-right-item {
          width: 47%;
          margin-bottom: 20px;

          .content-right-item-block {
            display: flex;
            margin-bottom: 6px;

            .label {
              width: 90px;
              color: $paramColorHov;
              text-align: right;
            }

            .text {
              flex: 1;
            }
          }

          .content-right-item-top {
            height: 40px;
            background-color: rgba(0, 0, 0, .5);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            box-sizing: border-box;
          }

          .content-right-item-bottom {
            padding: 20px;
            box-sizing: border-box;
            background-color: rgba(0, 0, 0, .3);
          }
        }
      }
    }
  }

  .layui-tree {
    .layui-tree-txt {
      color: #fff;
    }

    .layui-tree-entry {
      &.active,
      &:hover {
        background-color: $sideBarBgc;
        .layui-tree-txt {
          color: $paramColor;
        }
      }
    }
  }
}

.inner-body.equipment-form,
.inner-body.warning-setting {
  .nav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 5px;

    .left {
      display: flex;
      font-size: 18px;

      .warning-sample {
        margin-right: 20px;
        display: flex;
        align-items: center;
      }
    }

    .right {
      display: flex;
      align-items: center;
      font-size: 16px;

      .btn-item {
        background-color: $alpBgc;
        padding: 10px 20px;
        border: 1px solid $sideBarBgc;
        margin-left: 10px;
        cursor: pointer;

        &.active {
          background-color: $paramColor;
        }
      }

      .setting-warning {
        margin-right: 20px;
        color: $paramColorHov;
        cursor: pointer;

        .iconfont {
          margin-right: 5px;
        }
      }
    }
  }

  .form-box {
    padding: 20px;
    background-color: rgba(0, 0, 0, .3);

    .layui-form {
      display: flex;
      align-items: center;

      .left {
        width: 1550px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 80px;
        box-sizing: border-box;

        .layui-inline {
          margin: 10px 0;

          .name-layer {
            color: #777;
            display: flex;
            align-items: center;
          }
        }

        .layui-form-label {
          width: 90px;

          &.w120 {
            width: 120px;
          }
        }

        .layui-input {
          //width: 234px;
          width: 197px;
        }

        .name-list-placeholder {
          min-width: 130px;
          margin-top: 10px;
          position: relative;
          left: 120px;
          top: -10px;
          display: inline-block;

          .name-item {
            width: max-content;
            background-color: $sideBarBgc;
            margin-bottom: 5px;
            box-sizing: border-box;
            padding: 0 5px;
            font-size: 12px;

            span {
              margin-right: 10px;

              &.icon-guanbi {
                cursor: pointer;
                margin: 0;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

#selectPeopleName {
  .search-name-input {
    width: 220px;
    height: 30px;
    margin: 10px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, .3);
    border: none;
    outline: none;
    padding: 0 20px;
    color: #fff;
  }

  .luTableInner {
    padding: 0 10px;

    .layui-table-header, .layui-table-view, th, td {
      border-color: transparent;
    }

    .layui-table {
      color: #ffffff;

      thead {
        background-color: rgba(0, 0, 0, .5);
      }

      tr {
        background-color: rgba(0, 0, 0, .2);
      }
    }

    .layui-table,
    .layui-table tbody tr:hover,
    .layui-table thead tr,
    .layui-table-click,
    .layui-table-header,
    .layui-table-hover,
    .layui-table-mend,
    .layui-table-patch,
    .layui-table-tool,
    .layui-table-total,
    .layui-table-total tr {
      background-color: transparent;
    }
  }
}
