.inner-body.equipment-management .nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 5px;
}
.inner-body.equipment-management .nav .left {
  font-size: 16px;
}

.inner-body.warning-message .nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 5px;
}
.inner-body.warning-message .nav .left {
  display: flex;
  color: #3794ff;
}
.inner-body.warning-message .nav .left .warning-sample {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.inner-body.warning-message .nav .right {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.inner-body.warning-message .nav .right .btn-item {
  background-color: rgba(0, 165, 255, 0.1);
  padding: 10px 20px;
  border: 1px solid rgba(25, 121, 187, 0.5);
  margin-left: 10px;
  cursor: pointer;
}
.inner-body.warning-message .nav .right .btn-item.active {
  background-color: #007fff;
}
.inner-body.warning-message .nav .right .setting-warning {
  margin-right: 20px;
  color: #3794ff;
  cursor: pointer;
}
.inner-body.warning-message .nav .right .setting-warning .iconfont {
  margin-right: 5px;
}
.inner-body.warning-message .iconfont.icon-yujing {
  font-size: 20px;
  margin-right: 5px;
}
.inner-body.warning-message .iconfont.icon-yujing.red {
  color: red;
}
.inner-body.warning-message .iconfont.icon-yujing.orange {
  color: orange;
}
.inner-body.warning-message .iconfont.icon-yujing.yellow {
  color: yellow;
}
.inner-body.warning-message .iconfont.icon-yujing.blue {
  color: #0051ff;
}

.inner-body.warning-setting .nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 5px;
}
.inner-body.warning-setting .nav .left {
  display: flex;
  font-size: 18px;
}
.inner-body.warning-setting .nav .left .warning-sample {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.inner-body.warning-setting .nav .right {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.inner-body.warning-setting .nav .right .btn-item {
  background-color: rgba(0, 165, 255, 0.1);
  padding: 10px 20px;
  border: 1px solid rgba(25, 121, 187, 0.5);
  margin-left: 10px;
  cursor: pointer;
}
.inner-body.warning-setting .nav .right .btn-item.active {
  background-color: #007fff;
}
.inner-body.warning-setting .nav .right .setting-warning {
  margin-right: 20px;
  color: #3794ff;
  cursor: pointer;
}
.inner-body.warning-setting .nav .right .setting-warning .iconfont {
  margin-right: 5px;
}
.inner-body.warning-setting .form-box {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
.inner-body.warning-setting .form-box .layui-form {
  display: flex;
  align-items: center;
}
.inner-body.warning-setting .form-box .layui-form .left {
  width: 1350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
  box-sizing: border-box;
}
.inner-body.warning-setting .form-box .layui-form .left .layui-inline {
  margin: 10px 0;
}
.inner-body.warning-setting .form-box .layui-form .left .layui-inline .name-layer {
  color: #777;
  display: flex;
  align-items: center;
}
.inner-body.warning-setting .form-box .layui-form .left .layui-form-label {
  width: 90px;
}
.inner-body.warning-setting .form-box .layui-form .left .layui-input {
  width: 234px;
}
.inner-body.warning-setting .form-box .layui-form .left .name-list-placeholder {
  min-width: 130px;
  margin-top: 10px;
  position: relative;
  left: 120px;
  top: -10px;
  display: inline-block;
}
.inner-body.warning-setting .form-box .layui-form .left .name-list-placeholder .name-item {
  width: max-content;
  background-color: rgba(25, 121, 187, 0.5);
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 0 5px;
  font-size: 12px;
}
.inner-body.warning-setting .form-box .layui-form .left .name-list-placeholder .name-item span {
  margin-right: 10px;
}
.inner-body.warning-setting .form-box .layui-form .left .name-list-placeholder .name-item span.icon-guanbi {
  cursor: pointer;
  margin: 0;
  font-size: 12px;
}

#selectPeopleName .search-name-input {
  width: 220px;
  height: 30px;
  margin: 10px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 0 20px;
  color: #fff;
}
#selectPeopleName .luTableInner {
  padding: 0 10px;
}
#selectPeopleName .luTableInner .layui-table-header, #selectPeopleName .luTableInner .layui-table-view, #selectPeopleName .luTableInner th, #selectPeopleName .luTableInner td {
  border-color: transparent;
}
#selectPeopleName .luTableInner .layui-table {
  color: #ffffff;
}
#selectPeopleName .luTableInner .layui-table thead {
  background-color: rgba(0, 0, 0, 0.5);
}
#selectPeopleName .luTableInner .layui-table tr {
  background-color: rgba(0, 0, 0, 0.2);
}
#selectPeopleName .luTableInner .layui-table,
#selectPeopleName .luTableInner .layui-table tbody tr:hover,
#selectPeopleName .luTableInner .layui-table thead tr,
#selectPeopleName .luTableInner .layui-table-click,
#selectPeopleName .luTableInner .layui-table-header,
#selectPeopleName .luTableInner .layui-table-hover,
#selectPeopleName .luTableInner .layui-table-mend,
#selectPeopleName .luTableInner .layui-table-patch,
#selectPeopleName .luTableInner .layui-table-tool,
#selectPeopleName .luTableInner .layui-table-total,
#selectPeopleName .luTableInner .layui-table-total tr {
  background-color: transparent;
}

/*# sourceMappingURL=pages-style.css.map */
