.inner-body.equipment-management .nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 5px;
}
.inner-body.equipment-management .nav .left {
  font-size: 16px;
}

.bridge-monitoring .nav,
.analysis-evaluation .nav,
.bim-body .nav,
.inner-body.video-control .nav,
.inner-body.inspection-maintenance .nav,
.inner-body.warning-message .nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 5px;
}
.bridge-monitoring .nav .left,
.analysis-evaluation .nav .left,
.bim-body .nav .left,
.inner-body.video-control .nav .left,
.inner-body.inspection-maintenance .nav .left,
.inner-body.warning-message .nav .left {
  display: flex;
  color: #3794ff;
}
.bridge-monitoring .nav .left .warning-sample,
.analysis-evaluation .nav .left .warning-sample,
.bim-body .nav .left .warning-sample,
.inner-body.video-control .nav .left .warning-sample,
.inner-body.inspection-maintenance .nav .left .warning-sample,
.inner-body.warning-message .nav .left .warning-sample {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.bridge-monitoring .nav .right,
.analysis-evaluation .nav .right,
.bim-body .nav .right,
.inner-body.video-control .nav .right,
.inner-body.inspection-maintenance .nav .right,
.inner-body.warning-message .nav .right {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.bridge-monitoring .nav .right .btn-item,
.analysis-evaluation .nav .right .btn-item,
.bim-body .nav .right .btn-item,
.inner-body.video-control .nav .right .btn-item,
.inner-body.inspection-maintenance .nav .right .btn-item,
.inner-body.warning-message .nav .right .btn-item {
  background-color: rgba(0, 165, 255, 0.1);
  padding: 10px 20px;
  border: 1px solid rgba(25, 121, 187, 0.5);
  margin-left: 10px;
  cursor: pointer;
}
.bridge-monitoring .nav .right .btn-item.active,
.analysis-evaluation .nav .right .btn-item.active,
.bim-body .nav .right .btn-item.active,
.inner-body.video-control .nav .right .btn-item.active,
.inner-body.inspection-maintenance .nav .right .btn-item.active,
.inner-body.warning-message .nav .right .btn-item.active {
  background-color: #007fff;
}
.bridge-monitoring .nav .right .setting-warning,
.analysis-evaluation .nav .right .setting-warning,
.bim-body .nav .right .setting-warning,
.inner-body.video-control .nav .right .setting-warning,
.inner-body.inspection-maintenance .nav .right .setting-warning,
.inner-body.warning-message .nav .right .setting-warning {
  margin-right: 20px;
  color: #3794ff;
  cursor: pointer;
}
.bridge-monitoring .nav .right .setting-warning .iconfont,
.analysis-evaluation .nav .right .setting-warning .iconfont,
.bim-body .nav .right .setting-warning .iconfont,
.inner-body.video-control .nav .right .setting-warning .iconfont,
.inner-body.inspection-maintenance .nav .right .setting-warning .iconfont,
.inner-body.warning-message .nav .right .setting-warning .iconfont {
  margin-right: 5px;
}
.bridge-monitoring .iconfont.icon-yujing,
.analysis-evaluation .iconfont.icon-yujing,
.bim-body .iconfont.icon-yujing,
.inner-body.video-control .iconfont.icon-yujing,
.inner-body.inspection-maintenance .iconfont.icon-yujing,
.inner-body.warning-message .iconfont.icon-yujing {
  font-size: 20px;
  margin-right: 5px;
}
.bridge-monitoring .iconfont.icon-yujing.red,
.analysis-evaluation .iconfont.icon-yujing.red,
.bim-body .iconfont.icon-yujing.red,
.inner-body.video-control .iconfont.icon-yujing.red,
.inner-body.inspection-maintenance .iconfont.icon-yujing.red,
.inner-body.warning-message .iconfont.icon-yujing.red {
  color: red;
}
.bridge-monitoring .iconfont.icon-yujing.orange,
.analysis-evaluation .iconfont.icon-yujing.orange,
.bim-body .iconfont.icon-yujing.orange,
.inner-body.video-control .iconfont.icon-yujing.orange,
.inner-body.inspection-maintenance .iconfont.icon-yujing.orange,
.inner-body.warning-message .iconfont.icon-yujing.orange {
  color: orange;
}
.bridge-monitoring .iconfont.icon-yujing.yellow,
.analysis-evaluation .iconfont.icon-yujing.yellow,
.bim-body .iconfont.icon-yujing.yellow,
.inner-body.video-control .iconfont.icon-yujing.yellow,
.inner-body.inspection-maintenance .iconfont.icon-yujing.yellow,
.inner-body.warning-message .iconfont.icon-yujing.yellow {
  color: yellow;
}
.bridge-monitoring .iconfont.icon-yujing.blue,
.analysis-evaluation .iconfont.icon-yujing.blue,
.bim-body .iconfont.icon-yujing.blue,
.inner-body.video-control .iconfont.icon-yujing.blue,
.inner-body.inspection-maintenance .iconfont.icon-yujing.blue,
.inner-body.warning-message .iconfont.icon-yujing.blue {
  color: #0051ff;
}

.bim-body .nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

.inner-body.bridge-monitoring .select-box {
  margin-top: 10px;
}
.inner-body.bridge-monitoring .bridge-box {
  margin-top: 10px;
  height: 720px;
  background-color: rgba(0, 0, 0, 0.3);
}

.inner-body.analysis-evaluation .nav {
  margin: -25px 0 12px;
  padding: 0;
}
.inner-body.analysis-evaluation .page-container {
  background-image: url("../../images/page/qljc/inspection-bg-r.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 50px;
  box-sizing: border-box;
}
.inner-body.analysis-evaluation .page-container .container-nav {
  display: flex;
  margin-bottom: 20px;
}
.inner-body.analysis-evaluation .page-container .container-nav .nav-item {
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background-image: url("../../images/page/qljc/down_.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.inner-body.analysis-evaluation .page-container .container-nav .nav-item.active {
  background-image: url("../../images/page/qljc/on.png");
}
.inner-body.analysis-evaluation .page-container .select-box .layui-form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0;
}
.inner-body.analysis-evaluation .page-container .select-box .layui-form .layui-inline {
  margin-bottom: 20px;
}
.inner-body.analysis-evaluation .page-container .select-box .layui-form .layui-input {
  width: 255px;
  transition: none;
}
.inner-body.analysis-evaluation .echarts-box {
  margin-top: 10px;
  width: 100%;
  height: 560px;
  background-color: rgba(0, 0, 0, 0.3);
}
.inner-body.analysis-evaluation .echarts-box .echarts-title {
  padding: 20px 30px 0;
}
.inner-body.analysis-evaluation .echarts-box .echarts-container {
  padding: 20px;
}
.inner-body.analysis-evaluation .echarts-box .echarts-container .echarts {
  height: 470px;
  background-color: transparent;
}
.inner-body.analysis-evaluation .echarts-box .empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-body.video-control .page-container {
  min-height: 600px;
  margin-top: 20px;
}
.inner-body.video-control .page-container .left {
  width: 78%;
  height: 100%;
  margin-right: 2%;
}
.inner-body.video-control .page-container .left .select-box {
  background-color: #f2f2f2;
  padding: 0 20px;
  box-sizing: border-box;
  height: 50px;
  align-items: center;
  color: #333;
}
.inner-body.video-control .page-container .left .select-box .layui-inline {
  margin-right: 10px;
}
.inner-body.video-control .page-container .left .video-box {
  background-color: #ccc;
  height: 692px;
  margin-bottom: 50px;
  position: relative;
}
.inner-body.video-control .page-container .left .video-box .video-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 30px;
  color: #333;
}
.inner-body.video-control .page-container .left .ctrl-box {
  width: 100%;
  height: 104px;
  position: relative;
}
.inner-body.video-control .page-container .left .ctrl-box .btn-box {
  width: 306px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -153px;
}
.inner-body.video-control .page-container .left .ctrl-box .btn-box .b-mid {
  width: 155px;
  height: 100%;
  margin-top: -10px;
}
.inner-body.video-control .page-container .left .ctrl-box .btn-box .b-mid .b-p {
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.6;
}
.inner-body.video-control .page-container .left .ctrl-box .btn-box .b-mid .b-p:hover {
  opacity: 1;
}
.inner-body.video-control .page-container .left .ctrl-box .btn-box .b-mid .b-m-top {
  width: 72px;
  height: 17px;
  margin: 0 auto;
  background-image: url(../../images/page/qljc/up.png);
}
.inner-body.video-control .page-container .left .ctrl-box .btn-box .b-mid .b-m-mid {
  width: 106px;
  height: 72px;
  margin: 0 auto;
}
.inner-body.video-control .page-container .left .ctrl-box .btn-box .b-mid .b-m-mid .btn-mb-l {
  width: 17px;
  height: 72px;
  background-image: url(../../images/page/qljc/left.png);
}
.inner-body.video-control .page-container .left .ctrl-box .btn-box .b-mid .b-m-mid .btn-mb-m {
  width: 72px;
  height: 72px;
  background-image: url(../../images/page/qljc/center.png);
}
.inner-body.video-control .page-container .left .ctrl-box .btn-box .b-mid .b-m-mid .btn-mb-r {
  width: 17px;
  height: 72px;
  background-image: url(../../images/page/qljc/right.png);
}
.inner-body.video-control .page-container .left .ctrl-box .btn-box .b-mid .b-m-bottom {
  width: 72px;
  height: 17px;
  margin: 0 auto;
  background-image: url(../../images/page/qljc/down.png);
}
.inner-body.video-control .page-container .left .ctrl-box .btn-box .btn-item {
  width: 74px;
  height: 33px;
  color: #fff;
  border: 1px solid #007fff;
  border-radius: 5px;
  display: block;
  background-color: transparent;
  margin-bottom: 16px;
  cursor: pointer;
}
.inner-body.video-control .page-container .right {
  width: 20%;
  height: 100%;
}
.inner-body.video-control .page-container .right .right-content {
  height: 740px;
  border: 1px dotted #ededed;
  margin-bottom: 10px;
  background-color: #f2f2f2;
}
.inner-body.video-control .page-container .right .right-content .arrow {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.inner-body.video-control .page-container .right .right-content .arrow:hover .iconfont {
  color: #333;
}
.inner-body.video-control .page-container .right .right-content .arrow.up .icon-bofang {
  transform: rotate(-90deg);
}
.inner-body.video-control .page-container .right .right-content .arrow.down .icon-bofang {
  transform: rotate(90deg);
}
.inner-body.video-control .page-container .right .right-content .arrow .iconfont {
  font-size: 32px;
  color: #b1b1b1;
}
.inner-body.video-control .page-container .right .right-content .content {
  height: 630px;
  margin: 5px 0;
  position: relative;
  overflow: hidden;
}
.inner-body.video-control .page-container .right .right-content .content .content-slide {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  transition: top 0.3s;
  box-sizing: border-box;
}
.inner-body.video-control .page-container .right .right-content .content .content-slide .content-item {
  width: 100%;
  height: 210px;
  margin: 0 auto;
  position: relative;
}
.inner-body.video-control .page-container .right .right-content .content .content-slide .content-item.active .play-icon {
  display: none;
}
.inner-body.video-control .page-container .right .right-content .content .content-slide .content-item.active .pic {
  border: 1px solid #007fff;
}
.inner-body.video-control .page-container .right .right-content .content .content-slide .content-item .pic {
  width: 100%;
  height: 158px;
  margin-bottom: 10px;
}
.inner-body.video-control .page-container .right .right-content .content .content-slide .content-item .title {
  color: #333;
}
.inner-body.video-control .page-container .right .right-content .content .content-slide .content-item .play-icon {
  width: 45px;
  height: 45px;
  background-image: url(../../images/page/qljc/bofang.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -25px;
}
.inner-body.video-control .page-container .right .right-content .content .content-slide .content-item .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.inner-body.inspection-maintenance .content {
  display: flex;
  margin-top: 10px;
}
.inner-body.inspection-maintenance .content .content-item {
  height: 100%;
  overflow-y: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.inner-body.inspection-maintenance .content .content-left {
  width: 15%;
  background-image: url("../../images/page/qljc/inspection-bg-l.png");
}
.inner-body.inspection-maintenance .content .content-left .left-title {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px rgba(25, 121, 187, 0.5) dotted;
}
.inner-body.inspection-maintenance .content .content-left .search-box {
  margin-top: 10px;
  padding: 0 20px;
  box-sizing: border-box;
}
.inner-body.inspection-maintenance .content .content-left .search-box .search-input {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
}
.inner-body.inspection-maintenance .content .content-left .tree-box {
  margin-top: 20px;
}
.inner-body.inspection-maintenance .content .content-right {
  flex: 1;
  margin-left: 10px;
  background-image: url("../../images/page/qljc/inspection-bg-r.png");
  padding: 20px 50px;
  box-sizing: border-box;
}
.inner-body.inspection-maintenance .content .content-right .content-right-title {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px dotted rgba(25, 121, 187, 0.5);
  text-align: center;
  position: relative;
}
.inner-body.inspection-maintenance .content .content-right .content-right-title h1 {
  font-weight: 700;
}
.inner-body.inspection-maintenance .content .content-right .content-right-title .score {
  height: 40px;
  line-height: 40px;
  border: 1px solid #007fff;
  color: #007fff;
  padding: 0 20px;
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
}
.inner-body.inspection-maintenance .content .content-right .content-nav {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.inner-body.inspection-maintenance .content .content-right .content-nav .content-nav-item {
  width: 150px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url("../../images/page/qljc/down_.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.inner-body.inspection-maintenance .content .content-right .content-nav .content-nav-item.active {
  background-image: url("../../images/page/qljc/on.png");
}
.inner-body.inspection-maintenance .content .content-right .right-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.inner-body.inspection-maintenance .content .content-right .right-content .content-right-item {
  width: 47%;
  margin-bottom: 20px;
}
.inner-body.inspection-maintenance .content .content-right .right-content .content-right-item .content-right-item-block {
  display: flex;
  margin-bottom: 6px;
}
.inner-body.inspection-maintenance .content .content-right .right-content .content-right-item .content-right-item-block .label {
  width: 90px;
  color: #3794ff;
  text-align: right;
}
.inner-body.inspection-maintenance .content .content-right .right-content .content-right-item .content-right-item-block .text {
  flex: 1;
}
.inner-body.inspection-maintenance .content .content-right .right-content .content-right-item .content-right-item-top {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.inner-body.inspection-maintenance .content .content-right .right-content .content-right-item .content-right-item-bottom {
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}
.inner-body.inspection-maintenance .layui-tree .layui-tree-txt {
  color: #fff;
}
.inner-body.inspection-maintenance .layui-tree .layui-tree-entry.active, .inner-body.inspection-maintenance .layui-tree .layui-tree-entry:hover {
  background-color: rgba(25, 121, 187, 0.5);
}
.inner-body.inspection-maintenance .layui-tree .layui-tree-entry.active .layui-tree-txt, .inner-body.inspection-maintenance .layui-tree .layui-tree-entry:hover .layui-tree-txt {
  color: #007fff;
}

.inner-body.warning-setting .nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 5px;
}
.inner-body.warning-setting .nav .left {
  display: flex;
  font-size: 18px;
}
.inner-body.warning-setting .nav .left .warning-sample {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.inner-body.warning-setting .nav .right {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.inner-body.warning-setting .nav .right .btn-item {
  background-color: rgba(0, 165, 255, 0.1);
  padding: 10px 20px;
  border: 1px solid rgba(25, 121, 187, 0.5);
  margin-left: 10px;
  cursor: pointer;
}
.inner-body.warning-setting .nav .right .btn-item.active {
  background-color: #007fff;
}
.inner-body.warning-setting .nav .right .setting-warning {
  margin-right: 20px;
  color: #3794ff;
  cursor: pointer;
}
.inner-body.warning-setting .nav .right .setting-warning .iconfont {
  margin-right: 5px;
}
.inner-body.warning-setting .form-box {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
.inner-body.warning-setting .form-box .layui-form {
  display: flex;
  align-items: center;
}
.inner-body.warning-setting .form-box .layui-form .left {
  width: 1350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
  box-sizing: border-box;
}
.inner-body.warning-setting .form-box .layui-form .left .layui-inline {
  margin: 10px 0;
}
.inner-body.warning-setting .form-box .layui-form .left .layui-inline .name-layer {
  color: #777;
  display: flex;
  align-items: center;
}
.inner-body.warning-setting .form-box .layui-form .left .layui-form-label {
  width: 90px;
}
.inner-body.warning-setting .form-box .layui-form .left .layui-input {
  width: 234px;
}
.inner-body.warning-setting .form-box .layui-form .left .name-list-placeholder {
  min-width: 130px;
  margin-top: 10px;
  position: relative;
  left: 120px;
  top: -10px;
  display: inline-block;
}
.inner-body.warning-setting .form-box .layui-form .left .name-list-placeholder .name-item {
  width: max-content;
  background-color: rgba(25, 121, 187, 0.5);
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 0 5px;
  font-size: 12px;
}
.inner-body.warning-setting .form-box .layui-form .left .name-list-placeholder .name-item span {
  margin-right: 10px;
}
.inner-body.warning-setting .form-box .layui-form .left .name-list-placeholder .name-item span.icon-guanbi {
  cursor: pointer;
  margin: 0;
  font-size: 12px;
}

#selectPeopleName .search-name-input {
  width: 220px;
  height: 30px;
  margin: 10px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 0 20px;
  color: #fff;
}
#selectPeopleName .luTableInner {
  padding: 0 10px;
}
#selectPeopleName .luTableInner .layui-table-header, #selectPeopleName .luTableInner .layui-table-view, #selectPeopleName .luTableInner th, #selectPeopleName .luTableInner td {
  border-color: transparent;
}
#selectPeopleName .luTableInner .layui-table {
  color: #ffffff;
}
#selectPeopleName .luTableInner .layui-table thead {
  background-color: rgba(0, 0, 0, 0.5);
}
#selectPeopleName .luTableInner .layui-table tr {
  background-color: rgba(0, 0, 0, 0.2);
}
#selectPeopleName .luTableInner .layui-table,
#selectPeopleName .luTableInner .layui-table tbody tr:hover,
#selectPeopleName .luTableInner .layui-table thead tr,
#selectPeopleName .luTableInner .layui-table-click,
#selectPeopleName .luTableInner .layui-table-header,
#selectPeopleName .luTableInner .layui-table-hover,
#selectPeopleName .luTableInner .layui-table-mend,
#selectPeopleName .luTableInner .layui-table-patch,
#selectPeopleName .luTableInner .layui-table-tool,
#selectPeopleName .luTableInner .layui-table-total,
#selectPeopleName .luTableInner .layui-table-total tr {
  background-color: transparent;
}

/*# sourceMappingURL=pages-style.css.map */
