@import '../reset-layui';

// px2rem methods
$ration: 100;
@function p2r($px) {
  @return $px / $ration + rem;
}

html,body {
  height: 100%;
}

#mobile {

  height: 100%;
  .wrap-container {
    width: p2r(750);
    height: 100%;
    margin: 0 auto;
    background-color: #ccc;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &.mobile-wrapper {
      width: 100%;
    }

    .content {
      flex: 1;
      background-color: $tableBgColor;
      overflow-y: auto;
      padding: 0 p2r(20);
      box-sizing: border-box;

      .content-box {
        background-color: #fff;
        min-height: 100%;
        display: none;

        &.active {
          display: block;
        }

        .content-item {
          padding: p2r(20);

          .content-item-t {
            margin-bottom: p2r(20);
            span {
              color: $paramColor;
              margin-right: p2r(20);
              font-weight: 700;
            }

            .iconfont {
              color: orange;
            }
          }

          .content-item-s {
            padding: 0 p2r(20);
            box-sizing: border-box;
            display: flex;
            margin-bottom: p2r(5);

            .cid-key {
              width: p2r(138);
              text-align: end;
            }

            .cid-value {
              flex: 1;
              color: $weakenColor;
            }
          }
        }
      }
    }

    .header {
      height: p2r(380);
      background-image: url(/htmls/images/page/bim/mobile-bg.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      .header-info {
        width: 100%;
        margin: 0 auto;
        height: p2r(200);
        position: relative;
        top: p2r(60);
        display: flex;
        align-items: center;
        padding: 0 p2r(40);
        box-sizing: border-box;

        .header-left {
          width: p2r(200);
          height: p2r(200);
          margin-right: p2r(20);

          img {
            width: 100%;
            height: 100%;
          }
        }

        .header-right {
          display: flex;
          flex-direction: column;

          .info-box {
            font-size: p2r(24);
            display: flex;
          }
        }
      }

      .btn-box {
        width: 100%;
        height: p2r(60);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;

        .header-btn {
          width: 40%;
          height: 100%;
          background-color: #fff;
          outline: none;
          border: none;
          margin: 0 p2r(10);
          border-radius: p2r(10) p2r(10) 0 0;

          &.active {
            background-color: $paramColor;
            color: #ffffff;
          }
        }
      }
    }
  }
}
