/* Error: Undefined variable.
 *      ,
 * 1363 |             color: $tabelLinkColor;
 *      |                    ^^^^^^^^^^^^^^^
 *      '
 *   bim.scss 1363:20  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a      \2577 \a 1363 \2502              color: $tabelLinkColor;\d\a      \2502                     ^^^^^^^^^^^^^^^\a      \2575 \a   bim.scss 1363:20  root stylesheet";
}
