@import "../reset-layui.scss";

html, body {
  width: 100%;
  height: 100%;
}

.login-body {
  position: relative;

  .bg {
    height: 100%;
    background-image: url(../../images/page/login/logon-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /*.top, .bottom {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .top {
      background-image: url(../../images/page/login/login1.jpg);
      height: 50%;
      position: relative;
    }

    .bottom {
      background-image: url(../../images/page/login/login2.jpg);
      height: 50%;
    }*/
  }

  .login-form {
    width: 459px;
    height: 297px;
    background-image: url(../../images/page/login/login3.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -229px;
    margin-top: -148px;
    box-sizing: border-box;
    padding: 0 56px;

    &::after {
      content: '';
      width: 461px;
      height: 121px;
      background-image: url(../../images/page/login/login4.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      bottom: -124px;
      left: 0;
    }

    .login-title {
      width: 883px;
      height: 73px;
      background-image: url(../../images/page/login/logon.png);
      //background-image: url(../../images/page/login/login-logl.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      margin-left: -442px;
      top: -150px;
    }

    .form-title {
      font-size: 16px;
      text-align: center;
      margin: 30px 0 25px;
      font-weight: 700;
    }
  }
}

.layui-form-item {

  &.t-right {
    display: flex;
    justify-content: flex-end;

    .layui-form-checkbox[lay-skin=primary] {
      margin-top: 0;
    }

    .alink-box {
      a {
        color: $paramColor;
      }
    }
  }

  &.btn-box {
    text-align: center;

    .layui-btn {
      width: 261px;
      height: 43px;
    }
  }

  .layui-form-label {
    width: 63px;
    text-align: left;
    box-sizing: border-box;
    padding: 9px 0;
  }

  .layui-input-block {
    margin-left: 63px;

    .layui-input {
      width: 262px;
      height: 35px;
    }
  }
}
