@charset "UTF-8";
.icon {
  background: url("../images/icon.png") no-repeat;
}

.common-header {
  height: 100px;
}
.common-header .wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.common-header .wrap .logo {
  width: 425px;
  height: 62px;
}
.common-header .wrap .logo img {
  width: 100%;
  height: 100%;
}
.common-header .wrap .nav-box {
  display: flex;
  height: 100%;
}
.common-header .wrap .nav-box .nav {
  height: 100%;
  display: flex;
}
.common-header .wrap .nav-box .nav .nav-item {
  height: 100%;
  padding: 0 12px;
  display: flex;
  align-items: center;
}
.common-header .wrap .nav-box .nav .nav-item.active {
  background-color: #f1f1f1;
  position: relative;
}
.common-header .wrap .nav-box .nav .nav-item.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #3477c8;
  position: absolute;
  bottom: 0;
  left: 0;
}
.common-header .wrap .nav-box .search-client {
  display: flex;
  align-items: center;
}
.common-header .wrap .nav-box .search-client .search {
  width: 200px;
  float: right;
  border-radius: 25px;
  background: #f1f1f1;
  height: 26px;
  padding: 2px 10px 2px 10px;
  margin-left: 10px;
}
.common-header .wrap .nav-box .search-client input {
  border: 0;
  height: 24px;
  line-height: 24px;
  float: left;
  width: 140px;
  background: #f1f1f1;
}
.common-header .wrap .nav-box .search-client span {
  width: 20px;
  height: 20px;
  background-position: -120px 0;
  border: 0;
  float: left;
  margin: 5px 0 0 10px;
}

.common-footer {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  font-size: 14px;
  background-color: #f1f1f1;
}
.common-footer.light {
  background-color: #fff;
}
.common-footer .line span {
  margin: 0 10px;
}

.container-box {
  margin-bottom: 90px;
}
.container-box p {
  line-height: 1.8;
  text-indent: 2em;
}
.container-box h5 {
  color: #3477c8;
  margin-top: 20px;
}
.container-box .picture-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container-box .picture-box .container-picture {
  margin: 0 18px 10px 0;
}

/* banner */
.banner {
  width: 100%;
  height: 580px;
  min-width: 1200px;
  overflow: hidden;
  clear: both;
  position: relative;
}
.banner .lubo {
  width: 100%;
  min-width: 1000px;
  clear: both;
  position: relative;
  height: 580px;
}
.banner .lubo .lubo_box {
  position: relative;
  width: 100%;
  height: 580px;
}
.banner .lubo .lubo_box .lubo_item {
  float: left;
  width: 100% !important;
  height: 580px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .lubo .lubo_box .lubo_item a {
  display: block;
  width: 100%;
  height: 100%;
}
.banner .lubo .cir_box {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -80px;
  bottom: 10%;
}
.banner .lubo .cir_box li {
  float: left;
  width: 30px;
  height: 5px;
  margin: 0 5px;
  cursor: pointer;
  background: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.banner .lubo .cir_box li.on {
  background: #000 !important;
}
.banner .lubo .lubo_btn {
  position: absolute;
  width: 100%;
  top: 270px;
  font-family: "宋体";
}
.banner .lubo .lubo_btn .prev,
.banner .lubo .lubo_btn .next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
  cursor: pointer;
  color: #fff;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.banner .lubo .lubo_btn .prev:hover,
.banner .lubo .lubo_btn .next:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.banner .lubo .lubo_btn .prev {
  float: left;
  margin-left: 100px;
}
.banner .lubo .lubo_btn .next {
  float: right;
  margin-right: 100px;
}

/* 滚动新闻 */
.notice {
  background-color: #f1f1f1;
  height: 38px;
  line-height: 38px;
  z-index: 99;
  overflow: hidden;
}
.notice .notice-box {
  display: flex;
}
.notice .notice-box .icon-gonggao {
  margin-right: 10px;
  color: #3477c8;
}
.notice .notice-box .more {
  color: #ffbd1a;
}
.notice li {
  height: 38px;
  line-height: 38px;
  overflow: hidden;
}
.notice li a {
  color: #333;
}
.notice li a:hover {
  color: #3477c8;
}

.mainnav {
  margin: 30px 0;
  font-size: 0;
  display: flex;
  justify-content: center;
}
.mainnav.tc {
  text-align: center;
}
.mainnav.tc li a {
  padding: 0;
}
.mainnav a {
  border: 1px solid #ccc;
  margin-right: -1px;
  background: 0;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
  font-size: 14px;
}
.mainnav a.active, .mainnav a:hover {
  background: #3477c8;
  color: #fff;
  border: 1px solid #3477c8;
}

.about-us .scene-1 {
  display: flex;
}
.about-us .scene-1 .left {
  width: 527px;
  height: 315px;
}
.about-us .scene-1 .left img {
  width: 100%;
  height: 100%;
}
.about-us .scene-1 .right {
  flex: 1;
  background-color: #c1dcec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us .scene-1 .right .item {
  color: #3477c8;
  font-weight: 700;
  line-height: 1.8;
}
.about-us .scene-2 {
  margin: 40px 0 10px;
}
.about-us .scene-2 .scene-title {
  text-align: center;
  margin-bottom: 20px;
}
.about-us .scene-2 .scene-title h3 {
  font-size: 24px;
  font-weight: 700;
}
.about-us .scene-2 .scene-title .eng {
  margin-top: 5px;
  font-weight: 700;
  color: #9a9a9a;
}
.about-us .scene-2 .rczp-content .tab-title {
  height: 60px;
  background-color: #e2f4fe;
  overflow-x: auto;
}
.about-us .scene-2 .rczp-content .tab-title .tab-title-ul {
  display: flex;
}
.about-us .scene-2 .rczp-content .tab-title .tab-title-ul li {
  flex: 1;
  font-weight: 700;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
  background-color: #3477c8;
  color: #ffffff;
}
.about-us .scene-2 .rczp-content .tab-content {
  padding: 28px 44px;
  background-color: #f1f1f1;
  border-bottom: 7px solid #e2f4fe;
}
.about-us .scene-2 .rczp-content .tab-content li {
  display: none;
}
.about-us .scene-2 .rczp-content .tab-content li.active {
  display: block;
}
.about-us .scene-2 .rczp-content .tab-content li p {
  margin-bottom: 0;
  line-height: 1.8;
}
.about-us .scene-3 {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}
.about-us .scene-3 .block-3-item {
  width: 350px;
  height: 327px;
  border: 1px solid #3477c8;
}
.about-us .scene-3 .block-3-item .block-3-title {
  text-align: center;
  margin: 40px 0 50px;
  font-size: 24px;
  color: #3477c8;
}
.about-us .scene-3 .block-3-item .block-3-content {
  padding: 0 20px;
  box-sizing: border-box;
}
.about-us .scene-3 .block-3-item .block-3-content.center {
  text-align: center;
}
.about-us .scene-3 .block-3-item .block-3-content .block-3-content-item {
  line-height: 1.8;
}
.about-us .scene-4 .list-origin {
  width: 1100px;
  margin: 0 auto 350px;
}
.about-us .scene-4 .list-origin li {
  margin-bottom: 10px;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  list-style: disc;
}
.about-us .scene-address {
  height: 260px;
  padding: 30px 60px;
  background-image: url(../images/address-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.about-us .scene-address .left, .about-us .scene-address .right {
  width: 50%;
}
.about-us .scene-address .left .title {
  font-size: 26px;
  margin-bottom: 20px;
}
.about-us .scene-address .right .qrcode-block {
  background-color: #fff;
  padding: 10px 30px;
  box-sizing: border-box;
  display: flex;
}
.about-us .scene-address .right .qrcode-block .qrcode {
  width: 143px;
  height: 143px;
  margin-right: 20px;
}
.about-us .scene-address .right .qrcode-block .qrcode img {
  width: 100%;
  height: 100%;
}
.about-us .scene-address .right .qrcode-block .text .title {
  font-size: 26px;
  margin: 5px 0 20px;
  color: #3477c8;
}
.about-us .scene-address .right .qrcode-block .text .right-item {
  margin-bottom: 5px;
  color: #9a9a9a;
}
.about-us .scene-map {
  margin: 40px 0 60px;
  height: 368px;
}
.about-us .scene-map img {
  width: 100%;
}

.index-page .container {
  /* 新闻视频 */
}
.index-page .container .top-group {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.index-page .container .top-group .top-group-left {
  width: 70%;
}
.index-page .container .top-group .top-group-left .news-nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.index-page .container .top-group .top-group-left .news-nav .news-nav-left {
  display: flex;
  height: 100%;
}
.index-page .container .top-group .top-group-left .news-nav .news-nav-left .nav-item {
  line-height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  cursor: pointer;
}
.index-page .container .top-group .top-group-left .news-nav .news-nav-left .nav-item.active {
  background-color: #3477c8;
  color: #ffffff;
}
.index-page .container .top-group .top-group-left .news-content {
  display: flex;
}
.index-page .container .top-group .top-group-left .news-content .left {
  flex: 1;
  height: 300px;
}
.index-page .container .top-group .top-group-left .news-content .left img {
  width: 100%;
  height: 100%;
}
.index-page .container .top-group .top-group-left .news-content .right {
  width: 650px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
}
.index-page .container .top-group .top-group-left .news-content .right .news-item {
  width: 97%;
  height: 46px;
  line-height: 46px;
  text-align: left;
  margin-left: 30px;
}
.index-page .container .top-group .top-group-left .news-content .right .news-item.active a {
  color: #3477c8;
}
.index-page .container .top-group .top-group-left .news-content .right .news-item a {
  font-size: 18px;
}
.index-page .container .top-group .top-group-left .news-content .right .news-item a:hover {
  color: #3477c8;
}
.index-page .container .top-group .top-group-left .news-content .right .news-item .dian {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #333333;
  padding: 3px;
  margin-right: 5px;
  position: relative;
  top: -2px;
}
.index-page .container .top-group .top-group-right {
  flex: 1;
  height: 375px;
  margin-left: 30px;
  background-color: #3477c8;
  padding: 20px;
  color: #fff;
}
.index-page .container .top-group .top-group-right .video-title {
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  align-items: center;
}
.index-page .container .top-group .top-group-right .video-title .title {
  font-size: 22px;
  font-weight: 700;
}
.index-page .container .top-group .top-group-right .video-title .title span {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}
.index-page .container .top-group .tag-more {
  cursor: pointer;
  color: #9a9a9a;
  padding: 0 5px;
  box-sizing: border-box;
  background-color: #f1f1f1;
  font-size: 12px;
}
.index-page .container .top-group .videobox-new {
  height: 268px;
  margin: 20px auto 0;
}
.index-page .container .top-group .video-js {
  width: 100% !important;
  height: 100% !important;
}
.index-page .container .scene-1 {
  margin: 30px 0 60px;
}
.index-page .container .scene-1 .scene-title {
  text-align: center;
  margin-bottom: 30px;
}
.index-page .container .scene-1 .scene-title h3 {
  font-size: 24px;
  font-weight: 700;
}
.index-page .container .scene-1 .scene-title .eng {
  margin-top: 5px;
  font-style: italic;
  color: #3477c8;
  font-weight: 700;
}
.index-page .container .scene-1 .content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index-page .container .scene-1 .content-box .content-item {
  width: 23%;
  border: 1px solid #3477c8;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
}
.index-page .container .scene-1 .content-box .content-item:hover {
  color: #ffffff;
  background-color: #3477c8;
}
.index-page .container .scene-1 .content-box .content-item:hover .content-item-title .eng {
  color: #ffffff;
}
.index-page .container .scene-1 .content-box .content-item:hover .icon-box .iconfont {
  color: #ffffff;
}
.index-page .container .scene-1 .content-box .content-item .content-item-title {
  margin-top: 18px;
  text-align: center;
}
.index-page .container .scene-1 .content-box .content-item .content-item-title .eng {
  color: #9a9a9a;
  font-size: 14px;
  line-height: 1;
}
.index-page .container .scene-1 .content-box .content-item .content-item-title h4 {
  font-size: 20px;
  margin-top: 5px;
}
.index-page .container .scene-1 .content-box .content-item .icon-box {
  margin: 50px 0;
  text-align: center;
}
.index-page .container .scene-1 .content-box .content-item .icon-box .iconfont {
  font-size: 56px;
  color: #3477c8;
}
.index-page .container .scene-1 .content-box .content-item img {
  width: 100%;
  height: 200px;
}
.index-page .container .scene-2 {
  height: 260px;
  color: #ffffff;
  background-image: url("../images/index-s4-1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.index-page .container .scene-2 .scene-title {
  text-align: center;
  margin: 30px 0;
}
.index-page .container .scene-2 .scene-title h3 {
  font-size: 24px;
  font-weight: 700;
}
.index-page .container .scene-2 .scene-title .eng {
  margin-top: 5px;
  font-style: italic;
  font-weight: 700;
}
.index-page .container .scene-2 .slogan {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
}

.news-body .newspage {
  width: 900px;
  margin: 0 auto;
}
.news-body .newspage.news_list {
  margin-bottom: 40px;
}
.news-body .newspage.news_list .dot {
  display: block;
  background: #656565;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  float: left;
  margin: 17px 10px 0 0;
}
.news-body .newspage.news_list li {
  line-height: 40px;
  border-bottom: 1px dashed #ccc;
  padding-left: 5px;
}
.news-body .newspage.news_list li a {
  display: block;
}
.news-body .page {
  text-align: center;
  margin-top: -40px;
}
.news-body .page ul {
  display: inline-block;
  margin-top: 10px;
}
.news-body .page ul li {
  overflow: hidden;
  border-radius: 3px;
  margin: 30px 5px;
  border: 1px solid #ddd;
  float: left;
  padding: 0 8px;
  color: #005098;
}
.news-body .page ul li:hover {
  background: #005098;
  border: 1px solid #005098;
}
.news-body .page ul li:hover a {
  color: #fff;
}
.news-body .page ul li.page.selected {
  background: #005098;
  border: 1px solid #005098;
}
.news-body .page ul li.page.selected a {
  color: #fff;
}

.introduce-body .title-box {
  margin: 20px 0;
}
.introduce-body .title-box .introduce-title {
  line-height: 2;
  font-weight: 700;
  text-align: center;
  font-size: 19px;
}
.introduce-body .container-box p.content-line-3 {
  line-height: 3;
}
.introduce-body .container-box p.content-line-3 span {
  font-weight: 700;
}

.video-body .videoplay {
  margin: 30px;
}
.video-body .videoplay .video-text {
  font-size: 18px;
}
.video-body .videoplay .video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.video-body .videonum .videolist {
  margin: 0 -35px;
}
.video-body .videonum .videolist li {
  background: url(../images/thumb-videobg.jpg) no-repeat;
  margin: 20px 35px;
  padding: 10px 0 0 10px;
  position: relative;
  text-align: center;
  width: 169px;
  display: inline-block;
}
.video-body .videonum .videolist li a {
  position: absolute;
  width: 100%;
  height: 109px;
  display: block;
}
.video-body .videonum .videolist li a img {
  vertical-align: 150%;
  display: inline-block;
}
.video-body .videonum .videolist li a i {
  display: inline-block;
  height: 100%;
}
.video-body .videonum .videolist li > img {
  width: 169px;
  height: 109px;
}
.video-body .videonum .videolist li p {
  font-size: 14px;
  margin-top: 5px;
}

.news_detail {
  margin-bottom: 30px;
}
.news_detail .news_title {
  color: #000;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px dashed #e7e7e7;
}
.news_detail .news_inf {
  text-align: center;
  line-height: 26px;
}
.news_detail .news_inf span {
  padding: 0 20px;
}
.news_detail .news_main {
  margin: 30px 0;
}
.news_detail .news_main p {
  line-height: 180%;
  padding-top: 8px;
  text-indent: 30px;
}
.news_detail .news_main p img {
  width: 600px;
  height: 400px;
  display: inline-block;
}
.news_detail .new-detail-nav {
  float: right;
}

/*# sourceMappingURL=style.css.map */
