@import "./iconfont/iconfont.css";
@import './var.scss';

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .bim-content {
    width: 100%;
    height: 100%;
  }
}

.bim-content {
  background-image: url(../images/common/BIM-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lu-header {
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../images/common/top-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 541px;
      height: 85px;
      background-image: url(../images/common/title.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .btn-list {
      margin-top: -20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-item {
        width: 140px;
        height: 40px;
        background-image: url(../images/common/Unchecked.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 16px;
        cursor: pointer;

        &.active {
          background-image: url(../images/common/Select.png);
        }
      }
    }
  }

  .right {
    height: 60px;
    color: $color1;
    display: flex;
    align-items: center;
    justify-content: center;

    .project-list {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 30px;

      .iconfont {
        font-size: 30px;
        margin-right: 10px;
      }
    }
    .weather-box {
      margin-right: 40px;
      display: flex;
      align-items: center;

      .iconfont {
        font-size: 30px;
        margin-right: 10px;
      }
    }
  }
}

.body-one-page {
  width: 100%;
  height: calc(100% - 85px);
  position: absolute;
  top: 85px;
  left: 0;

  .content-body {
    position: relative;
    height: 100%;
    z-index: 3;
    color: #fff;

    .left {
      width: 350px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -350px;
    }

    .right {
      width: 350px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -350px;
    }

    .left-animation {
      transition: left .5s;
      left: 0;
    }
    .right-animation {
      transition: right .5s;
      right: 0;
    }
  }

  &::before {
    content: '';
    width: 350px;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
  }

  &::after {
    content: '';
    width: 350px;
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
  }
}

.block-title {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 5px;
    height: 18px;
    background-color: $color1;
    margin-right: 6px;
  }

  font-size: 20px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0 20px;
}

.block-content {
  margin-top: 10px;
}
