@import "./iconfont/iconfont.css";

$color1: #00f8ff;
$color2: #00c0ff;
$color3: #f4b140;
$color4: #ff8c0e;
$color5: #ff2a0e;
$color6: #c6c6c6;

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .bim-content {
    width: 100%;
    height: 100%;
  }
}

.bim-content {
  background-image: url(../images/common/BIM-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lu-header {
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../images/common/top-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 541px;
      height: 85px;
      background-image: url(../images/common/title.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .btn-list {
      margin-top: -20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-item {
        width: 140px;
        height: 40px;
        background-image: url(../images/common/Unchecked.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 16px;
        cursor: pointer;

        &.active {
          background-image: url(../images/common/Select.png);
        }
      }
    }
  }

  .right {
    height: 60px;
    color: $color1;
    display: flex;
    align-items: center;
    justify-content: center;

    .project-list {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 30px;

      .iconfont {
        font-size: 30px;
        margin-right: 10px;
      }
    }
    .weather-box {
      margin-right: 40px;
      display: flex;
      align-items: center;

      .iconfont {
        font-size: 30px;
        margin-right: 10px;
      }
    }
  }
}
