@import "./iconfont/iconfont.css";
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html .bim-content, body .bim-content {
  width: 100%;
  height: 100%;
}

.bim-content {
  background-image: url(../images/common/BIM-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lu-header {
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../images/common/top-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}
.lu-header .left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lu-header .left .logo {
  width: 541px;
  height: 85px;
  background-image: url(../images/common/title.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lu-header .left .btn-list {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lu-header .left .btn-list .btn-item {
  width: 140px;
  height: 40px;
  background-image: url(../images/common/Unchecked.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.lu-header .left .btn-list .btn-item.active {
  background-image: url(../images/common/Select.png);
}
.lu-header .right {
  height: 60px;
  color: #00f8ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lu-header .right .project-list {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.lu-header .right .project-list .iconfont {
  font-size: 30px;
  margin-right: 10px;
}
.lu-header .right .weather-box {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.lu-header .right .weather-box .iconfont {
  font-size: 30px;
  margin-right: 10px;
}

.body-one-page {
  width: 100%;
  height: calc(100% - 85px);
  position: absolute;
  top: 85px;
  left: 0;
}
.body-one-page .content-body {
  position: relative;
  height: 100%;
  z-index: 3;
  color: #fff;
  display: flex;
}
.body-one-page .content-body .left {
  width: 350px;
  height: 100%;
  position: relative;
  top: 0;
  left: -350px;
  overflow-y: auto;
}
.body-one-page .content-body .right {
  width: 350px;
  height: 100%;
  position: relative;
  top: 0;
  right: -350px;
  overflow-y: auto;
}
.body-one-page .content-body .left-animation {
  transition: left 0.5s;
  left: 0;
}
.body-one-page .content-body .right-animation {
  transition: right 0.5s;
  right: 0;
}
.body-one-page .content-body .content {
  flex: 1;
  position: relative;
}
.body-one-page::before {
  content: "";
  width: 350px;
  height: 100%;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.body-one-page::after {
  content: "";
  width: 350px;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.block-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0 20px;
}
.block-title::before {
  content: "";
  display: block;
  width: 5px;
  height: 18px;
  background-color: #00f8ff;
  margin-right: 6px;
}

.block-content {
  margin-top: 10px;
}

.scroll-bar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}
.scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
.scroll-bar::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/*# sourceMappingURL=public.css.map */
