$color1: #00f8ff;
$color2: #00c0ff;
$color3: #f4b140;
$color4: #ff8c0e;
$color5: #ff2a0e;
$color6: #c6c6c6;

$color-p1: #fcb740;
$color-p2: #0381d9;
$color-p3: #098e52;
$color-p4: #134a70;
$color-p5: #86cdff;

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
